[2021-08-24 04:33] mikhael28 opened #1 "Planning Save Bug"
The planning documents for a team in a Sprint, for some reason, are duplicating/mirroring each other's state from one week to the next. I think their state in the Redux store isn't probably being cleared, week to week perhaps?

To reproduce: create a sprint, write out the goals for that sprint. Then, create a new sprint - and go to the planning. The planning text from the last weeks sprint has car

[2021-08-25 18:13] mikhael28 opened #2 "ResetPassword - Refactor to Hook"
Your first ticket is to refactor the functionality inside the `src/profile/ResetPassword` component from a class component to a React Hook. Please create a branch called `feature/reset-password-hook` and submit it to the `develop` branch.

[2021-08-27 18:33] mikhael28 opened #3 "WebSocket Connection 'Ping' Creating New Connections"
Currently, AWS Websocket connections to API Gateway will close in 10 minutes, if there is no activity. To attempt to counter this, I have put in some 'reconnect' logic, that you can see in `App.js` mostly between lines 237-326 in React. The problem may be somewhere there, but more likely the culprit is in the web socket connection API - instead of creating a new connection ID, things should simply

[2021-08-27 18:36] mikhael28 opened #4 "Migrate NavBar into own file"
Currently, the Navbar takes up too much space in `App.js`, and should be added as it's own component in the 'component' folder. We would need to change certain values dependent on state, into props - and properly pass the requisite data into the imported component. `App.js` is currently 906 lines in length - way too much.

[2021-08-27 18:38] mikhael28 opened #5 "childProps state review"
We are currently passing a lot of state through React Router, in the form of childProps. While this doesn't have a performance implication, it does balloon the complexity of the state we are passing through - and we have already identified some unused state. Review what is being passed, potentially eliminate what is not needed. Make list for workflows to be migrated into Redux, if proper.

[2021-08-27 18:40] mikhael28 opened #6 "Localization re-render delayed"
When changing the language in the NavBar component, it seems that there is a delay/failed propagation of state in the component tree. The language does not update immediately, though it does update when moving from one route to another. This could be caused because the I18n strings are set in `index.js`, which is separate from all of the moving state in childProps. It could be a different issue th

[2021-08-27 19:20] mikhael28 opened #7 "Signup - Refactor Hook"
In `src/profile/Signup.js`, we want to refactor that component into a hook from a class.

[2021-08-27 19:21] mikhael28 opened #8 "Form UI Overhaul - Use react-hook-form to limit re-renders"
The bootstrap form look leaves a few things to be desired - can we get some ideas or inspiration how to update the styling to reflect a modern, unique look?

Either posting screenshots of forms you think are good, or writing some code and posting some screenshots with the accompanying CSS changes is preferred.

Something else to keep in mind, is that we will migrate our Form UI library, likely, at

[2021-08-27 20:33] mikhael28 opened #9 "Mentee Profile Sprints UI"
Inside of `src/profile/Profile`, when looking at your Mentee sprints, the UI needs a bit more imagination. Right now, it's an unresponsive card component that shows the completion percentage for the week, and let's you read their planning/review documents. We need some imagination into making this a more comprehensive review document - perhaps we need to integrate/further develop the Analytics com

[2021-08-27 20:37] mikhael28 opened #10 "Mentee Profile Props - Get Athlete information from App.tsx and propagate"
When viewing a Mentee's profile as a coach, the current pattern is for the `src/profile/Profile` container to fetch from the db the Mentee's information, including Profile, Experiences and Sprints. At least some of this information is already available to us, through the initial Fetch.

Can we propagate that information down through props, to eliminate at least 1 unnecessary API call? We can proba

[2021-08-27 20:46] mikhael28 opened #11 "Mobile Nav Padding Top"
When we see the mobile/tablet nav at the bottom, it sometimes cuts off by 20 px or so the bottom most view of whatever screen we are on. Screenshot attached as an example!
<img width="731" alt="Screen Shot 2021-08-27 at 1 46 32 PM" src="https://user-images.githubusercontent.com/15205259/131186738-60a54829-2ab6-4622-823b-b523b63aa1c6.png">

[2021-08-27 21:02] mikhael28 opened #12 "Login - Refactor to Hook"
Self-explanatory, found in `src/profile/Login`.

[2021-08-27 21:29] mikhael28 opened #13 "EditProfile Refinements"
Due to some fast and loose decision making in the past, the Edit Profile component has a lot of functionality/partial functionality that is there, bloating the file to a quite ridiculous 535 lines. We need to go through the component, see what state can be trimmed down and what additional refinements can be made.
1. saving the default language when the user makes a selection and showing a loading

[2021-08-28 19:15] mikhael28 opened #18 "Utilizing Suspense API"
In `index.js`, we have a barebones Suspense integration - how can we more effectively utilize this? Take a look at React's documentation: https://reactjs.org/docs/concurrent-mode-suspense.html

We have a few options:
1. Could be used to show placeholder UI components while data is fetching, similar to `Profile` in `src/profile/Profile`.
2. Could we potentially replace the initial loading Modal, wi

[2021-08-28 19:18] mikhael28 opened #19 "Service Worker Re-Enable"
In `index.js`, we currently have our Service Worker disabled. In the past, I have tested and successfully passed the Lighthouse Audit to meet the requirements of a Progressive web app, but disabled it while things are still in alpha/beta. There are two parts of the ticket here.
1. We need to add a system to prompt users to download updated bundles, once we have issue an update to production. Other

[2021-08-28 19:34] mikhael28 opened #20 "Lazy Loading + Bundle Size Optimization overview"
Prior to launching the open-source project, I took steps to optimize a few things - including the bundle size. After I took a look at the npm modules using the `source-map-explorer`, I optimized a few libraries using efficient tree shaking, took out a few modules that were adding unnecessary burden (which resulted in the creation of the admin-console) and a few other things. As a result, the bundl

[2021-08-28 19:37] mikhael28 opened #21 "CreateUser <form> integration"
In `src/profile/CreateUser` let's add a <form> html component to wrap the form, so that once all the form fields have been validated, we can use the Enter button to submit the new profile information. This is also good for screen-readers + accessibility.

[2021-08-28 19:39] mikhael28 opened #22 "Terms of Service Popup"
Let's create a Terms of Service Modal/Popup, that is launched in the `src/profile/CreateUser` container. Let's make acceptance (check the box) a condition of moving forward with the CreateUser flow.

Do not use the React-Bootstrap Modal - we are in the process of migrating away from those, as they are no longer updating that library and the modal uses outdated componentWillReceiveProps functionali

[2021-08-28 19:40] mikhael28 commented on #22
For now, use dummy text for the TOS.

[2021-08-28 19:46] mikhael28 opened #23 "Country Picker component"
In `src/profile/CreateUser`, there is a form at the bottom the select which country you live in. As you can see, right now we are manually populating it with options. We need to have a more comprehensive selection, with the standard exclusions (North Korea, Syria, etc) - how should we do this? Should we use an external NPM component? If so, we need to make sure the bundle size contribution is smal

[2021-08-28 19:51] mikhael28 opened #24 "Email Redesign / Onboarding"
In `src/libs/errorEmail` we have a pretty decent, HTML designed email template that we are using.

1. We need to change the name of the file to just `email`, and we are deprecating the `sendEmail` functionality since we now have Sentry. Let's keep the `generateEmail` functionality, and apply it to all emails being sent on the platform, especially in `src/profile/CreateUser` where it is right now s

[2021-08-28 21:51] mikhael28 commented on #12
Closed due to great work from @dylvaz

[2021-08-28 21:51] #12 closed

[2021-08-29 00:22] mikhael28 opened #26 "S3 Bucket mp3/video checks"
In `src/profile/EditProfile`, as well as in the Arena Proof Modal, we are submitting items to s3, primarily as images. However, we want to be ready for mp3, video, etc - this ticket revolves around two things.
1. Making sure the s3 bucket can accept those file extensions
2. Open those file extensions inside the application, instead of lazily opening an external link to the s3 URL. Might need to us

[2021-08-29 00:23] mikhael28 opened #27 "Audit 'Tour' text"
Some of the 'Tour' text is outdated, or doesn't take into account new UI changes. Let's update that text with something that makes more sense, and remove that which doesn't.

[2021-08-29 00:25] mikhael28 opened #28 "ChangePassword - Refactor into Hook"
Convert this class component into a Hook. Pretty self-explanatory, good first issue.

[2021-08-29 00:50] mikhael28 opened #29 "Pomodoro Timer - Service Worker Integration"
Pomodoro Vision - The ParetOS offers you the 20% of software that will give you 80% of the benefits you are looking for. Adding a Pomodoro timer, that in the future we will be able to track over time and apply towards your Arena score, verified by timers, will allow us to serve our Paretoans (or whatever we want to call users,, toans, I just don't like the word 'user').

We had previously integrat

[2021-08-29 01:02] mikhael28 opened #30 "Error Toast UI"
I don't know what it is, but I just don't like the errorToast notification UI. Can somebody give some practical suggestions/inspirations for us to rework this?

Edit: the UI looks a little better now with thinner buttons, but still not a great experience.

<img width="1114" alt="Screen Shot 2021-08-28 at 6 02 09 PM" src="https://user-images.githubusercontent.com/15205259/131234795-64642e49-54f8-46

[2021-08-29 01:16] mikhael28 opened #31 "I18n Language Change Props Not Propagating"
Our vision is to support multiple languages with the ParetOS. To do so, we have added the Amplify I18N library to help us with replacing certain UI/UX language based on the device's detected language. Right now, we support Spanish and Luganda.

However, there is a problem. In `App.js` there is a language bar, in the side-nav, where someone can change the active language of the application. When th

[2021-08-29 01:29] mikhael28 opened #32 "Daily Journal / Rich Text Note Editing"
Vision - The ParetOS offers our Toans (or whatever we end up calling our users, I hate the word 'user') the 20% of software that will give them 80% of the benefits they need in their daily life. One thing that people need is the ability to take some notes, organize them by day and search through them (potentially with some sort of **tag** system, that allows us to organize things by theme.

Right

[2021-08-29 12:15] shubhankarb180 commented on #28
@mikhael28 I would like to work on this issue. Can you assign the issue please ? I am new to open source contribution but I have worked in some first timers issues and have knowledge on react hooks

[2021-08-29 15:11] mikhael28 commented on #28
Go ahead and get started! I will figure out how to assign an issue to someone who isn't a 'contributor' on the main repository. Let me know if you have any questions, will look forward to seeing your PR!

[2021-08-29 15:31] mikhael28 commented on #28
@shubhankarb180 it appears that I can only assign read+write access to collaborators on a private repository, and will have to transfer the repository at some point to a GitHub organization, where I can have more granular access. In order to 'assign' an issue, you must be a listed collaborator on the repository. So, in the meantime, start working on the issue and send in your PR. I will handle the

[2021-08-29 15:34] mikhael28 commented on #28
Make sure you work on ChangePassword, not ResetPassword - someone just sent in a PR for that one.

[2021-08-29 16:23] shubhankarb180 commented on #28
Sure @mikhael28 . I will working on ChangePassword component 🙂

[2021-08-29 17:18] #2 closed

[2021-08-29 20:54] palmdaldaniel commented on #7
@Interested in working with this one, may i ?

I am fresh to contributing to os but I know react hooks.

[2021-08-29 20:56] mikhael28 commented on #7
@palmdaldaniel that sounds great to me! Go ahead and get started, fork the repo, and send the PR when you are ready! I will review the code, ask for changes (if necessary) and merge it in!

[2021-08-30 03:20] #4 closed

[2021-08-30 15:10] shubhankarb180 commented on #21
Hi @mikhael28 ! Can you please elaborate about the HTML component part ? Are talking about semantic tags here ?

[2021-08-30 15:18] mikhael28 commented on #21
Yes, I'm talking about the semantic <form> tag! Let's add that in to the component - in general, we want to have those in all forms in the codebase, as long as the validate form function allows it.

[2021-08-30 15:19] mikhael28 commented on #21
For some reason, when you try to write the html tag with the < and > it doesn't show up in GitHub (at least in my mobile app)

[2021-08-30 16:30] #22 closed

[2021-08-30 23:17] mikhael28 opened #42 "ContextBuilder - Refactor to Hook from Class"
In `src/context/ContextBuilder` we want to refactor the Context Builder component from a class into a hook. This ticket is reserved for @Chris-isCoding - so, let's give him 72 hours to respond to this ticket (meaning, confirm that you are working on it). He sent me an email earlier today asking for specific guidance, so this is the result of that.

[2021-08-30 23:19] mikhael28 opened #43 "Redundant Tab Panel"
We are using essentially the same exact Tab Panel (the small functional component) in `ContextBuilder.js` and `Sprint.js` - can somebody please turn this into one exportable component, that is imported into both files?

[2021-08-31 00:13] wesley3295 commented on #43
What is the purpose of the Typography mui component on contextBuilder.js? It reduces the size of the tabs, by like 2px and honestly look better without the tag, and I have no context of what Sprint looks like without the Typography tag because there is no data coming into it. My opinion you could probably get rid of the tag. Let me know?

[2021-08-31 00:59] mikhael28 commented on #43
Great, let's continue discussing on the PR you submitted.

[2021-08-31 15:22] mikhael28 opened #46 "CreateSprint Enhancements"
There have been some obvious UX flaws in the `CreateSprint` component. Here are the changes that we are requesting in this Issue:
1. When the component mounts, we want to automatically add ourselves to the list of competitors - and then remove ourselves from the list of potential competitors, before updating that state to allow items to choose from.
2. After adding a competitor to the Sprint, befo

[2021-08-31 15:23] mikhael28 commented on #46
Asking @wesley3295 to work on this, is anyone else interested?

[2021-08-31 15:25] mikhael28 commented on #46
One additional thing I can think of, probably outside the scope of this particular ticket, is that as the list of competitors starts to grow (it's growing quite quickly in the last week), a drop down is not going to be an adequate solution. We will need to have other filtering mechanisms, perhaps a search bar to search through the list?

[2021-08-31 15:26] #28 closed

[2021-08-31 16:23] shubhankarb180 commented on #30
We could create it as a modal where we center the error container with grey blurred background. It would better implementation.

[2021-08-31 17:44] mikhael28 commented on #30
@shubhankarb180 that sounds great to me. If you can work on this, can you find a way to re-purpose the Modal.js component in src/components? Perhaps we can use it for both the terms of service and this, and we pass in some functions as props, so that it can be used in multiple use cases. Let me know if that makes sense?

[2021-08-31 19:43] shubhankarb180 commented on #30
Give me sometime . I need to review the code and flow to see how modal.js is being used. Once I figure that out will comment if we can re-purpose it. Sounds good ?

[2021-08-31 22:38] mikhael28 commented on #30
The modal.js is being used in the Terms of Service component! You can always do global search command + shift + f and search for `components/Modal` to understand where that component is being imported from.

[2021-08-31 23:15] mikhael28 opened #48 "Refactor Learning Modules into Extensible Learning System"
Due to some legacy decisions made a long time ago, the Experience objects for the Full-Stack Starter Kit look like the `body` in `src/libs/createExperience`, where each piece of experience is marked as _01 instead of a `modules` array, where each achievement is stored. This is due to using Sanity as a curriculum management system - it was great at first, because auto-generating the forms/creation

[2021-08-31 23:39] mikhael28 opened #49 "PaywallModal UI Enhancements"
The Paywall is a puzzle of sorts - a user can pay myself, the core-contributor of the project and author of 99% of the code+curriculum+open source issues $89 for some amazing educational products, physical and digital.

However, if you can figure out how to change a couple of values in the front-end code-base, you can completely bypass the paywall and create the accounts necessary to access the on

[2021-08-31 23:56] mikhael28 opened #50 "Review Order & Billing Form components"
Right now, we have an Order and Billing form component inside of `src/learn` that mostly handles the facilitation of the transaction to pay for the Full-Stack Starter Kit. I would also like to add in a simple route, that based on the URL - the price of the billing dynamically increases. Thinking through this, I am considering to take certain parts of the business logic from the Billing Form compon

[2021-09-01 00:20] mikhael28 opened #51 "Testing Coverage Philosophy - A Discussion and Overview of Objectives"
Right now, our test coverage is nearly non-existent. This is a problem, as manual testing of every pull-request ultimately creates a bottleneck for maintainers to approve code and keep things moving. This ticket is somewhat of a discussion about what our testing strategy should be, and how to keep things practical at first - and then, at some point, opening the floodgates for people to write ridic

[2021-09-01 00:28] mikhael28 opened #52 "NewSubmitProofModal - Refactor to Hook"
Inside of `src/learn/NewSubmitProofModal` we want to re-factor that into a hook.

[2021-09-01 00:40] mikhael28 opened #53 "Minimizing time to load in initialFetch"
Right now, our initial fetch certainly takes a minute to get the user data Paretoans need to power their experience. It would be in our best interest to reduce the number of active API requests, and perhaps offer a progressive state drip into the application - opening up parts of the UI as the state data for that comes in, progressive opening up more and more as the fetch finishes. This could elim

[2021-09-01 00:43] mikhael28 opened #54 "ExperienceSummary - UI suggestions"
Can somebody take a look at the ExperienceSummary component, and provide some helpful UI suggestions/inspirations to see how we can improve the look and feel of the component?

[2021-09-01 00:50] mikhael28 opened #55 "Mobile 'Home' Navigation Component"
A good chunk of the OS, like many before it, was designed for desktop experiences. However, for modules like the Arena - the user's will at least half the time interact with it on a mobile device. The biggest bottleneck that we see here is the navigation system - right now we have a BottomNav bar that pops up in tablet/mobile dimensions, but there are so many items/modules in the OS now/in the fut

[2021-09-01 01:21] antonio-b commented on #54
new to open source. can i be assigned this issue?

[2021-09-01 01:28] #42 closed

[2021-09-01 01:58] mikhael28 commented on #54
@antonio-b hell yeah, it's yours! Let me know if you have any questions.

[2021-09-01 01:58] mikhael28 commented on #54
I should have included a screenshot of the component, let me know if you have trouble finding it/where it's mounted in the application.

[2021-09-01 03:15] antonio-b commented on #54
ok, thanks

[2021-09-01 04:50] RajshreeVats commented on #49
new to open source. can I be assigned to do the required enhancement?

[2021-09-01 04:54] RajshreeVats commented on #52
new to open source. can I be assigned to this issue?

[2021-09-01 05:08] wesley3295 commented on #46
So implementing the currentUser into selected competitors wouldn't be difficult. However I feel if would be a lot easier to grab user from Redux global state rather than making a filter function over players in SprintCreation.js. There is an initial state for your profile
![init state](https://user-images.githubusercontent.com/67900324/131615061-8911e834-afca-4f2a-b490-42b13f737f20.png)

 Maybe we

[2021-09-01 07:19] akashshyamdev commented on #52
Can I be assigned to this issue? I have worked with several projects/clients with React JS and I feel this refactor is right up my alley. Let me know! Thanks

[2021-09-01 10:02] Youspeakcubic commented on #11
@mikhael28 Hello, I'd love to give a shot at fixing this. Just to make sure are we talking about how on smaller screens the right of the bottom nav cuts off?

[2021-09-01 15:27] mikhael28 commented on #49
@RajshreeVats that sounds great to me, I have gone ahead and assigned the ticket to you!

[2021-09-01 15:41] mikhael28 commented on #52
Hi @akashshyamdev , I will go ahead and assign this issue to you!
@RajshreeVats I have assigned another issue to you, go ahead and work on that one :)

[2021-09-01 15:44] mikhael28 commented on #11
@Youspeakcubic good morning, great to have you here! You have a sharp eye, that is INDEED an issue - on smaller screens, the right of the bottom nav cuts off. Would you please look into that?

The main issue described in the ticket, talks about how the NavBar itself doesn't give the components directly on top of it white-space before it kind of protrudes on top of them. In the screenshot, for exam

[2021-09-01 15:45] mikhael28 commented on #11
I've gone ahead and assigned this ticket to you, let me know how it goes and if there is something I can answer for ya!

[2021-09-01 15:51] mikhael28 opened #57 "The Great Migration (Alpha to Beta)"
This is a ticket that serves to have a list of things that need to be migrated when we can move out of alpha into beta:
1. System wide replace of id's with _id's, Mongo's built in identifier that has faster indexing performance.
2. Redeployment of all API's, creation of TEST api credentials to be used for continued development.

More to come, this is just something I wanted to write down before fo

[2021-09-01 16:58] antonio-b commented on #54
yes, if you can send a screenshot. much appreciated.

[2021-09-01 17:17] mikhael28 commented on #54
Hey @antonio-b , I've attached a screenshot of the components in question - they are the card blocks on the top. You can log-in to test your changes, temporarily, at `mentorship@platohq.com` with the password `password123`. This is a temporary account I created for a company to review while job-searching, so it will be deleted once I have finished the process with them.
<img width="1141" alt="Scre

[2021-09-01 18:43] wesley3295 commented on #46
What CSS framework are you using in the project it looks like you got a mixture of Bootstrap and Material-ui. I prefer Material ui, but you seem to have a lot of Bootstrap incorporated already. I actually have some components you might be interested in for the future of this app. We could meet over zoom and discuss the future of this app and what short term and long term goals you have for it?

[2021-09-02 00:57] wesley3295 commented on #46
https://github.com/ericgio/react-bootstrap-typeahead/blob/master/docs/API.md#menu
http://ericgio.github.io/react-bootstrap-typeahead/#basic-example
![dropdown](https://user-images.githubusercontent.com/67900324/131764484-c1089628-2f78-4b2f-ad6e-949f4e974578.png)
![typeahead](https://user-images.githubusercontent.com/67900324/131764487-fffef144-1459-480a-b04f-d535aee1b21c.png)
![devtools](https://u

[2021-09-02 06:41] shubhankarb180 commented on #30
@mikhael28 , just got super busy with work. Will work on this issue on weekend. Sounds good ?

[2021-09-02 14:56] mikhael28 commented on #30
@shubhankarb180 that sounds good, I'm assigning this ticket to you!

[2021-09-02 15:20] mikhael28 commented on #46
Good morning @wesley3295 - for the search component, can you try using the native HTML search component? Check out this code:
[code]

[2021-09-02 15:22] mikhael28 commented on #46
Regarding the Typeahead module, are you using a new version of React Bootstrap (the 1.0 version?) If so, that is cool (if that is the route you go), but when you submit the pull-request, can you give an update of how many more kb that npm package is adding to the bundle size? For some more details, read this: https://github.com/mikhael28/paretOS/issues/20

[2021-09-02 15:23] mikhael28 commented on #46
Regarding meeting on Zoom and talking more about the future plans for this repository, can you meet me during this Meetup that I am hosting? https://www.meetup.com/open-source-js/events/280427207/

[2021-09-02 16:18] mikhael28 opened #63 "Portugese/Brazilian Localization"
Adding in the language strings for the UI in Portugese, adding new entries in the `strings.js` file: https://github.com/mikhael28/paretOS/blob/main/src/libs/strings.js

[2021-09-02 16:23] mikhael28 opened #64 "Coach Review Modal - Rich Text"
In `ApproveExperienceModal`, we want to change the coach notes from being a simple form field to being a rich-text field, where the coach can leave detailed feedback instead of simple font. We will then want to update the view on the mentee's side, to review the notes in `dangerouslySetInnerHtml` or another form to display the rich-text.

We already have quill.js, but I am not super happy with it

[2021-09-02 16:31] mikhael28 opened #65 "SuggestionModal Refactor to Hook + Small UI Fix"
The SuggestionModal component needs to be refactored into a React Hook, and also needs a few slight UI fixes.

<img width="951" alt="Screen Shot 2021-09-02 at 9 28 21 AM" src="https://user-images.githubusercontent.com/15205259/131881874-9dd379d7-0378-4647-99ab-3363dcc3395b.png">

The header font needs to move a few pixels to the right, it's right by the left border.
The main issue is doing a littl

[2021-09-02 16:31] mikhael28 commented on #65
Any other UI enhancements are appreciated!

[2021-09-02 16:49] mikhael28 opened #66 "ContextObject - add iFrame Display"
In the `ContextObject` component within the Library of Context, we are currently simply opening up a new tab when clicking on a link. This, however, takes us away from the OS - which lessens the value of what we provide, as we are constantly sending people out of the tab (especially when loading as a ProgressiveWebApplication on MacOS, for example).

What we want to do, is to change the functional

[2021-09-02 16:57] mikhael28 opened #67 "Work & Rise Integration Preview"
Inside `src/containers/WorkRise`, we are fetching some jobs from the Work & Rise public API. The UI is totally a proof of concept. What we want to do is create a new Navigation bar item inside the `LeftNav` component that will display this the NavItem to navigate to this component IF the user's country is listed as Uganda (UG). So, conditional rendering of a route based on country of origin.

This

[2021-09-02 17:02] mikhael28 opened #68 "NotFound UI"
Right now, we have a container called 'NotFound', which displays if the user somehow navigates to a route that doesn't exist. Here is what it looks like right now.
<img width="1432" alt="Screen Shot 2021-09-02 at 9 59 47 AM" src="https://user-images.githubusercontent.com/15205259/131886289-0984eea2-9b43-4682-924d-b0cb0d15e5e3.png">

 We want to add a few things:
1. Add the Pareto logo, from the as

[2021-09-02 17:04] mikhael28 opened #69 "Landing.js UI enhancements"
In the Landing component, we want to do a couple of things.
1. Add a secondary button next to SignUp, called Login.
2. Add a testimonial from yourself about the app or the open-source community.
3. Try to standardize/optimize the CSS a little bit.

[2021-09-02 17:11] mikhael28 opened #70 "Dashboard.js refactor to Hook"
Self-explanatory, refactor into Hook.

[2021-09-02 17:38] Chris-isCoding commented on #70
Hey @mikhael28 I would be happy to work on this.

[2021-09-02 17:43] mikhael28 commented on #70
Sounds good, I'm assigning it to you!

[2021-09-02 19:03] LeoHimsef commented on #69
Happy I tried this out, still a react novice

[2021-09-02 19:09] wesley3295 commented on #20
So I replaced react-bootstrap 3 with react-bootstrap 5 the new KB is 861.46. I'm guessing this isn't ideal for this project?

[2021-09-02 19:43] mikhael28 commented on #20
Would you please send a link to the npm repositories you are talking about? I'm only familiar with react-bootstrap 0.32 and 1.6 - which has huge breaking changes between the two versions and are backwards incompatible. Would you also post a screenshot of the new package.json so I could see the new packages/versions?

In general, we don't want to add another 100kb just to add one component. We want

[2021-09-03 03:13] akashshyamdev commented on #65
Can I handle this refactor? Here's a quick snippet of a possible function to implement for the conversion of camel case to sentence case:

[code]

[2021-09-03 03:16] akashshyamdev commented on #68
How about adding some of the same quotes we display currently on the loader?  And maybe we could add an interesting lottie animation.

[2021-09-03 03:49] akashshyamdev commented on #32
Could we use tinymce https://www.npmjs.com/package/@tinymce/tinymce-react?
![Screenshot 2021-09-03 at 09 18 56](https://user-images.githubusercontent.com/56759828/131947823-c3f38591-662b-4e80-8872-359035c4657a.png)

[2021-09-03 04:08] mikhael28 commented on #69
Alright @LeoHimsef , that sounds great! I've gone ahead and assigned the Issue to you :D

[2021-09-03 04:08] mikhael28 commented on #69
Can you introduce yourself in #17 to the rest of the team? We'd love to learn more about you!

[2021-09-03 04:13] mikhael28 commented on #65
@akashshyamdev that sounds great! I will assign the ticket to you.

[2021-09-03 04:13] mikhael28 commented on #68
I think that sounds great! Quotes are great - what does 'lottie' mean?

[2021-09-03 04:15] mikhael28 commented on #32
@akashshyamdev this looks very promising - I will do some research tonight. Have you implemented it in the past? Or, do you know of any open-source projects/companies that use it in their tech stack?

[2021-09-03 04:31] mikhael28 commented on #32
Pell is a TINY rich text editor 4kb, that could be a good solution https://github.com/jaredreich/pell
Squire is also small, like 49kb, but offers some interesting programmatic support to extend the basic rich text functionality. 200 kb less than Quill. https://github.com/neilj/Squire

[2021-09-03 07:31] akashshyamdev commented on #32
Ok sure. Btw, if you don't mind me asking, I'm pretty sure most of the uses of this application(at this scale) would come under the free tier. Also, do you have any template you use while creating React (typescript) NPM packages?

[2021-09-03 10:33] akashshyamdev commented on #65
Just one thing, I'd suggest increasing the size of the sub heading("please include the link...") to improve the visual hierarchy. According to me, visual hierarchy should go like this:

1. Title("Suggestion for kampala")
2. Sub Heading("Please include the link...")
3. Input Heading("Title", "Description" etc)

Currently, it's more like this:

1. Title("Suggestion for kampala")
2. Input Heading("Ti

[2021-09-03 13:30] mikhael28 commented on #32
I think it merits more research, because we will have to pay for a note-taking service one way or the other, whether through TinyMCE or through our own API's/database storage. Let's keep this option open - first, let's define the data model that is needed, and then we can pick the solution on those merits! I was thinking that each 'day' in the journal could be it's own entry, for example in a Dyna

[2021-09-03 14:38] Visrutha commented on #54
Hi @mikhael28 , I'm interested in designing UI. But I'm kind of new to open source contribution. Can you assign this issue to me? I'll look into the issue and try my best to give suggestions.

[2021-09-03 15:06] mikhael28 commented on #54
@Visrutha I actually just merged a pull-request from @antonio-b for this Issue, so I'm going to close it. Visrutha, can you take a look and see if there are other tickets you might be interested in?

[2021-09-03 15:06] #54 closed

[2021-09-03 15:08] Visrutha commented on #54
Yeah sure. Thanks!

[2021-09-03 15:09] mikhael28 commented on #65
Agreed, the text is certainly too small - your suggestion for the visual hierarchy is spot on, please make the change! I am going to review your other PR in a few minutes, I'm on a boat right now and waiting for it to launch before pulling out my laptop. Hopefully I will have some data out in the Puget Sound!

[2021-09-03 16:00] mikhael28 commented on #67
As an addendum, I've gone ahead and moved the WR related components/code to a new folder, called `intl`, and within a subfolder called `ug`. Moving forward, when adding country/region specific funcitionality that is unique within the application, we will store it in a country's subfolder. This will make it easier to reason about.

[2021-09-03 16:20] mikhael28 opened #74 "Improved/Production Messaging Platform"
One of the pieces of software that adds tremendous value is simple messaging. Going back to the days of AIM/MSN/IRC, simple chat clients provided tremendous value and captivated people. We would like to see a simple chat experience that allows members to communicate across channels. Those channels can be platform-wide (#main) or personal messaging threads. Let's keep things simple at first, and en

[2021-09-03 16:53] mikhael28 commented on #68
<img width="857" alt="Screen Shot 2021-09-03 at 9 50 58 AM" src="https://user-images.githubusercontent.com/15205259/132041027-c922904e-78ba-4dd0-aa43-2b1d0ffcc016.png">
Making some quick changes, going to commit this code with the next PR that has tickets in the next hour or two. Will await your guidance as to what a lottie is - otherwise, we can likely close this Issue if we can't think of anythi

[2021-09-03 17:16] wesley3295 commented on #20
https://react-bootstrap.github.io/
![bootstrap 5](https://user-images.githubusercontent.com/67900324/132043163-8f1fa5f2-f182-4d78-b92c-d6fe09b723b7.png)

[2021-09-03 17:37] mikhael28 commented on #20
To clarify, you only want to use the 'Typeahead' component? Is there an npm package somewhere with like 10kb that we can use instead? Or, we can use the `datalist` native HTML search. I do not want to add 100kb for just one component. I'm also hesitant to use a beta release of a module, when there is a stable 1.6 release.

As an update to the Quill.js 250kb package, I found a npm module called Pel

[2021-09-03 17:39] mikhael28 commented on #20
An item to investigate - is AWS Amplify serving GZipped distribution files? I don't think so. Should check if that's even possible, likely should be but I may need to change build instructions. Might possibly need custom docker image, but unlikely.

[2021-09-03 17:53] mikhael28 opened #75 "Leaderboard Rework"
Right now, our leaderboard component is minimalist but functional. It will sort the users passed in by score, and highlight yourself with a custom color. The boilerplate code we started from also has support for 'order by Name', which frankly is unnecessary.

There are a few things we want to implement:
1. Remove the references to 'orderByName' and generally simplify/consolidate the code needed fo

[2021-09-03 17:56] antonio-b opened #76 "overflow:scroll in left nav bar."
![image](https://user-images.githubusercontent.com/53808501/132047419-a3331d26-fea1-41db-b36a-383fb9e1afeb.png)

remove overflow-x and overflow-y properties to give better UI.

[2021-09-03 17:57] antonio-b commented on #76
@mikhael28 I will resolve this issue, can i be assigned?

[2021-09-03 18:01] nikhil12377 commented on #13
i'd like to work on this.
but i'll need some guidance, i'm new to open source actually.

[2021-09-03 18:48] mikhael28 commented on #76
@antonio-b yes, I will assign you. Can you please pull the latest code from 'main' - I just now revamped a few things about the LeftNav for mentorship/relationships. Can you see if it's been resolved/changed? I updated the CSS, but the overflow is still there.

[2021-09-03 18:49] mikhael28 commented on #43
Closing, since this PR was merged in!

[2021-09-03 18:49] #43 closed

[2021-09-03 18:51] mikhael28 commented on #13
There are a few requirements here for this ticket, let's start you with something simpler. This one can be your second ticket, after you have had some time to get more familiar with the code-base. Can you work on this ticket please? https://github.com/mikhael28/paretOS/issues/23 Leave a comment there and let's continue the conversation!

[2021-09-03 19:00] antonio-b commented on #76
Yes, will do.

[2021-09-03 19:05] nikhil12377 commented on #23
i'd like to work on this.

[2021-09-03 23:59] mikhael28 commented on #23
That sounds great @nikhil12377 , I will assign this to you!

[2021-09-04 04:47] akashshyamdev commented on #68
@mikhael28 lottie is basically an animation platform. People can use after effect animations inside their wbesites. We can easily take some free animation on https://lottiefiles.com/

[2021-09-04 04:55] akashshyamdev commented on #32
@mikhael28 Are we using a SQL or a NOSQL Database? MongoDB has a generous free tier which can be used for this. If we are using mongoDB, then we can model it like this:

[code]

[2021-09-04 05:31] mikhael28 commented on #68
This is why I love open-source, I learn something new every day! Didn't know about these Lottie files, very freaking cool. What I'm going to do, is make a separate ticket to source cool Lotties - but I'm going to go ahead and close this ticket, because the bulk of what I wanted to accomplish is done. We have revamped the NotFound component, made it a little cooler, added branding, got the quotes i

[2021-09-04 05:31] #68 closed

[2021-09-04 05:34] mikhael28 opened #81 "Lottie Animations sourcing"
@akashshyamdev just informed me about a cool new animation standard. In his words:
```lottie is basically an animation platform. People can use after effect animations inside their wbesites. We can easily take some free animations on https://lottiefiles.com/ which will help our page stand out```

ParetOS's mission is to help develop human potential, to build the 20% of software we need for 80% of

[2021-09-04 05:53] mikhael28 commented on #32
@akashshyamdev what if we wanted to use DynamoDB? Could you give me an updated data model based on that database?

[2021-09-04 09:46] akashshyamdev commented on #81
Here's a nice [confetti animation](https://lottiefiles.com/74680-confetti) which can be displayed when the user successfully completes a challenge or comes first on the leaderboard.

[2021-09-04 11:14] akashshyamdev commented on #32
@mikhael28 I've not worked with dynamo db a lot, but I'm working on a possible model which I'll share in a bit :)

[2021-09-04 15:33] mikhael28 commented on #32
Thank you for taking the time to put a diagram together for me - very helpful, and a great example to the rest of the community. Looking at the model though, I think we can probably cut out the journal object entirely - in fact, the name of our DynamoDB table can be called `journal`, and each individual entry can be an `entry`. Let's do this.

Now, next question - what do you think our partition k

[2021-09-04 15:41] mikhael28 commented on #76
Great work, closing!

[2021-09-04 15:41] #76 closed

[2021-09-04 19:05] antonio-b commented on #13
@mikhael28  I'm interested in this issue, would like some more information. I haven't used React but would be up for the challenge.

[2021-09-04 20:18] mikhael28 commented on #13
@antonio-b sold, to the gentleman from Arizona! Assigned to you :) Let me know if you have any questions.

[2021-09-04 20:20] antonio-b commented on #13
ha thanks

[2021-09-04 20:22] antonio-b commented on #13
@mikhael28  Can I get a  screenshot or location of the component? would be much appreciated. thanks

[2021-09-04 20:24] mikhael28 commented on #13
Go to the profile tab, on the bottom left of the left nav

[2021-09-04 22:52] mikhael28 commented on #13
What you want to do, is to use Command+Shift+F and search for where <EditProfile is mounted. Then, check in the `Routes.js` where that might be.

[2021-09-04 23:30] antonio-b commented on #13
Yes, I did find it. I searched through the repo on github to find the location. Now I'm reading through the code and watching tutorial over react state to have a better understanding.  Thanks

[2021-09-04 23:39] mikhael28 opened #87 "Migrate away from react-bootstrap modals"
At some point, we want to get away from the modals in react-bootstrap 0.32 - they use outdated componentWillReceive props. Perhaps we can replace them with the `Modal` component inside the `components` folder. There are a lot of these, 6 or 7.

[2021-09-04 23:44] mikhael28 opened #88 "Different types of proof request"
Let's look into having different types of proof requests - right now, we are just uploading files. here are some other types of proofs:

1. Attestation - have someone 'sign' that you did something.
2. Timestamp - record somebody checking in 'before' a certain timestamp

This is a growing list, to be integrated in Arena/Curriculum Proof Modal.

[2021-09-04 23:44] mikhael28 opened #89 "Curriculum + Arena Proof Modal consolidation"
Let's combine the two modals together, and standardize the API's a bit more.
Additionally, we need to disable the submission buttons based on the lack of proof.

[2021-09-04 23:47] mikhael28 opened #90 "Arena Proof Modal Refactor to Hooks"
Migrate from class to hooks, self explanatory.

[2021-09-05 00:04] mikhael28 opened #91 "Reverse order of sprints in `Sprints`"
Right now, the sprints are being displayed from 0index on, but they need to be reversed to account for the order they were made. Can probably show 'Most recent' on that first index. Can sort by timestamp created.

[2021-09-05 01:22] mikhael28 commented on #49
@RajshreeVats hey, another developer has contributed the code necessary for this Issue, so I am closing it! Sorry about that - is there another Issue you would like to work on?

[2021-09-05 01:22] #49 closed

[2021-09-05 01:23] #11 closed

[2021-09-05 01:29] arvinf07 commented on #66
I'll take care of this

[2021-09-05 02:10] antonio-b commented on #13
@mikhael28  I just want to ask a question. I assume that the main issue here is that the component is too large. So the solution would be is to break up this Editprofile.js into multiple,smaller components for easier readability, right? I'm finding it hard to follow the code when it covers over 500 lines. Research states to have components not exceed 250 lines with 100 lines being the ideal. I wan

[2021-09-05 02:13] mikhael28 commented on #13
Well, the line number isn't that crazy - really, the functionality that's important are the bullet points. If you can find a way to make some of those components into their owns files, great - however, the core of the ticket is to address those bullet points.

Do you think I should break them up, into one piece at a time?

[2021-09-05 02:13] RajshreeVats commented on #49
@mikhael28 No Problem, I will go through other issues and pick one for myself. : )

[2021-09-05 02:14] mikhael28 commented on #13
You are right though, in general components shouldn't be more than 250. Technically, this is a container - so it would have a bit more leeway. Before i broke it down to 550 lines, it used to be more. Do you have any particular questions about how the state works in this container component?

[2021-09-05 02:17] mikhael28 commented on #66
And sold, to the gentleman from New York! This will be a good ticket to get familiar with the repository. When you have time, take a look at the list of issues with a tag called 'ownership' - those are more challenging, end to end items, that I think you should pick from to work on. They will involve multiple pieces of functionality, multiple code reviews and more impressive to talk about in inter

[2021-09-05 02:17] antonio-b commented on #13
Not yet I don't. Still trying to understand the code and functionality.

[2021-09-05 02:20] antonio-b commented on #13
I will work on it tomorrow and then follow up with questions. Thanks

[2021-09-05 03:09] CoDigo93 commented on #63
I could do that!

[2021-09-05 03:10] CoDigo93 commented on #63
I can do this for you!

[2021-09-05 04:31] akashshyamdev commented on #90
@mikhael28 can I handle this?

[2021-09-05 07:41] akashshyamdev commented on #87
@mikhael28 Yes, great point. One thing I've noticed across the codebase is that you are using both material UI and react bootstrap. Why is that? Won't that unnecessarily increase bundle size? I think we should move forward with either MUI or react-bootstrap

[2021-09-05 07:47] akashshyamdev commented on #32
Yeah sure, give me 2 hours and I'll get back to you on this(let me go through dynamo db) :)

[2021-09-05 09:50] akashshyamdev commented on #32
I think our partition key should be the date, we store it in groups of weeks/months/years and we sort it from latest to oldest(so sorting key is also data).

[2021-09-05 10:07] Chris-isCoding commented on #70
Dashboard was completely reworked in previous commits:

https://github.com/mikhael28/paretOS/commit/af0d6c14396fa7e480870257f5eaec905889c3fa

https://github.com/mikhael28/paretOS/commit/b903f88903c4764327f123e235aaa1f31ab3fe20

[2021-09-05 15:15] akashshyamdev commented on #32
Also, I was going through the application and I think the application could do with a UI revamp(nothing much, just fixing up spacing, alignment etc). So if you agree, I could design this in figma and we can open source the implementation of the designs. Let me know what you think @mikhael28 :)

[2021-09-05 15:24] akashshyamdev commented on #51
I think this is great and we must move on with e2e testing. Also, here's why unit testing matters:

Unit testing addresses minor things(surprise surprise!) like proper form validation, form state etc. Now this may not seem important on an individual basis, but let's say I come and refactor a logic into a function. We can have a bot that checks for the unit tests on that specific component and info

[2021-09-05 16:09] mikhael28 commented on #13
Hey @antonio-b good morning! I sympathize, looking at that component again - there was too much crud. I pushed a quick little commit cleaning up some more of the state, removing some unnecessary code, and writing some comments to help you make sense of a few things. Please sync your fork with the latest from the `main` branch in my repository. you can review the commit on GitHub here: https://gith

[2021-09-05 16:10] mikhael28 commented on #13
Now it's only 456 lines of code lol

[2021-09-05 16:18] mikhael28 commented on #63
@CoDigo93 this would be amazing! I'm assigning it to you, let me break down a few of the things that are necessary.
1. In the `strings.js` file, the first file there is called 'en', for English. Let's add another one for 'pg', or whatever code you think is best for portugese. Lines 7-185 are where the bulk of the translation work is, that is really essential. This is the interface language - don't

[2021-09-05 16:18] mikhael28 commented on #63
What questions do you have for me?

[2021-09-05 16:36] #70 closed

[2021-09-05 16:37] mikhael28 commented on #70
Ahhhh yeah @Chris-isCoding thanks for being flexible here, I recently did re-do some of the work in the Dashboard - I was clearing a few things up on Friday while on a boat, and writing up tickets/cleaning up state. The PR you sent in was great, refactored to Hooks even with a bunch of changes!

[2021-09-05 16:38] antonio-b commented on #13
Got it, thanks.

[2021-09-05 16:46] mikhael28 commented on #87
That is a false dichotomy - if you open up the source-bundle explorer, you will notice that each of those UI frameworks are using only a very small number of kilobytes. This is because the code is set up to 'tree shake' very efficiently. If you will notice, when we are importing bootstrap components, we are importing them like `react-bootstrap/lib/Button' - by importing them from the '/lib/compone

[2021-09-05 16:47] mikhael28 commented on #87
Now, that being said, I would like to move away from the modals and in the future - I would like to replace the react-bootstrap forms with 'react-hook-form', as that library is much more performant (fewer DOM re-renders) and has built in support for form validation, which we need to add over time.

[2021-09-05 16:55] mikhael28 commented on #20
@akashshyamdev check this issue out, if you haven't already. React-bootstrap only taking up 31kb due to lazy loading, very efficient! Material UI taking up 91kb, and that's without using their form library either.

[2021-09-05 17:12] mikhael28 commented on #90
Yes, assigning to you!

[2021-09-05 17:32] CoDigo93 commented on #63
So, i have to translate only to 7 until line 185 right? I thought i'd have to translate between 7 and 280 where the ''en'' object finishes.

[2021-09-05 17:34] mikhael28 commented on #63
Haha you could do that in the future, but let's first start with the most important UX. If you can do the other translations as well, that would be greatly appreciated, but it doesn't have to be right now/for this ticket.

[2021-09-05 17:45] CoDigo93 commented on #63
Fine! in the future let me know when you need it.

[2021-09-05 18:06] akashshyamdev commented on #20
Great @mikhael28 , so why don't we eliminate the use of MUI altogether? Just stick with react bootstrap and use custom components when the `componentWillReceiveProps` is used.

[2021-09-05 18:07] wesley3295 opened #95 "Chat updates upon refresh, needs to update immediately"
Theoretically, we have a subscription to the DynamoDB table, and it should receive messages in real-time. Perhaps that broke somewhere along the line?

Upon entering a new message into chat we should be able to see that chat appear without refreshing the page.

[2021-09-05 19:26] wesley3295 commented on #91
![sprint order by createdAt](https://user-images.githubusercontent.com/67900324/132138992-93fa03af-2051-4467-af7f-4c3f0e0e0fd1.png)
![Screenshot 2021-09-05 122606](https://user-images.githubusercontent.com/67900324/132139015-7a06ac39-369e-401f-b2b7-6d1bf5d0e4f8.png)
This look good? I can put it under a pull request?

[2021-09-05 22:55] mikhael28 commented on #63
Looking forward to seeing the PR! Will be amazing have it accessible to Brazilians

[2021-09-06 00:56] mikhael28 commented on #91
Looks great, please send a pull request. I will be reviewing your other pull request soon, thanks for your patience.

[2021-09-06 01:08] mikhael28 commented on #20
The point that I want to make, is that we don't need to 'limit' ourselves to UI components from one library. We can always just pick and choose what we want - for example, we are using MUI for the bottom navigation. If we stopped using material, then we would have to figure out replacements for that component, among others. There is no benefit to sticking with one, and only one, library. Especiall

[2021-09-06 01:09] mikhael28 commented on #95
I can certainly see that new chat enter the page after I press the enter button - you can't?

Would you mind making a gif of your messaging component?

[2021-09-06 01:10] mikhael28 commented on #95
Thanks for writing up the ticket! It brings me so much joy to see the messaging being used!

[2021-09-06 03:02] akashshyamdev commented on #20
Hmm, makes sense @mikhael28 👍

[2021-09-06 03:04] akashshyamdev commented on #52
Should I delete the branch for this issue(#62) on my local repo?

[2021-09-06 03:04] akashshyamdev commented on #65
Should I delete the branch for this issue(#73) on my local/forked repo?

[2021-09-06 07:13] akashshyamdev commented on #29
hey @mikhael28, could I handle this? I haven't worked with service workers before but I intend to learn as I go! Looking forward to hearing from you :)

[2021-09-06 14:42] CoDigo93 commented on #63
Hi my friend, almost done! But i have a question. How do you take those flags for the leftNavbar? Did you pay for them?

[2021-09-06 18:34] mikhael28 commented on #63
Nah, I just found a URL that includes a small country flag, then attached it to an <img /> tag. I'm sure you can find one somewhere. Or, if you want, you can download a tiny version of the flag (30x30 pixels or something), add it to assets folder, and import it manually instead of downloading it from the web each time.

[2021-09-06 18:38] mikhael28 commented on #51
Yes @akashshyamdev that is a good strategy, I should break down the process into smaller issues that will allow new contributors to send in PR's. I think, similar to slowly adding in propTypes, we can add tests in on a component by component basis as well. Perhaps, when someone touches up a component, we can have them add a test or two (if it makes sense).

[2021-09-06 18:39] mikhael28 commented on #51
For the record, I think a lot of unit tests (for forms, at least) are rendered unnecessary by having good form validation set up. Migrating to React-Hook-Forms at some point is high on our list, as it get's us closer to getting out from under the boot of react-bootstrap 0.32.

[2021-09-06 18:43] mikhael28 commented on #95
Can you try this - open up localhost:3000 in a tab, and then create another test account and open up localhost:3000 in incognito - can you see if the messages are instantly transmitted that way?

[2021-09-06 18:46] mikhael28 commented on #52
@akashshyamdev yes, go ahead and delete that branch. I am going to close this issue!

[2021-09-06 18:46] #52 closed

[2021-09-06 18:47] mikhael28 commented on #65
Yes, go ahead - I am closing this issue!

[2021-09-06 18:47] #65 closed

[2021-09-06 18:49] mikhael28 commented on #29
@akashshyamdev yes, I can definitely assign this to you. I think working on an 'ownership' ticket is a great idea for you. Keep in mind that this is a piece of functionality with a high degree of functionality, and you will likely be working on this for the next couple of weeks. Multiple code-reviews. And we will first store the Pomodoro's in localStorage, but we will store them in a database befo

[2021-09-06 18:49] mikhael28 commented on #29
Would it be helpful for you, to have me break down this functionality into multiple tickets - a 'series' of Issues?

[2021-09-06 19:13] #69 closed

[2021-09-06 19:15] mikhael28 commented on #29
@akashshyamdev I also forgot where you posted this, but in one of the Issues or pull-requests you mentioned something about a UI revamp/redesign. If you have some ideas for how to restructure some of the containers/components, please go ahead and put something together on Figma. Keep in mind that some of your suggestions might be welcomed, while others might be rejected :) If you would like to spe

[2021-09-06 20:12] shubhankarb180 commented on #30
@mikhael28 Can you please reassign the issue to someone else ? I tried to work on it but not successful. Will try to work on other issues

[2021-09-06 20:20] wesley3295 commented on #95
REFRESH
![5m2xbd](https://user-images.githubusercontent.com/67900324/132258383-ea15e061-55d8-4787-923a-debbfb410f99.gif)
NAVIGATING APP
![5m2xla](https://user-images.githubusercontent.com/67900324/132258433-cf5589dd-816e-4bdd-946b-26770ae82890.gif)
INCOGNITO RIGHT SIDE
![5m2xv7](https://user-images.githubusercontent.com/67900324/132258531-7398f657-6d45-4e68-88a3-f75b8231f4b1.gif)

[2021-09-07 03:13] akashshyamdev commented on #29
Yeah that would be really helpful 👍

[2021-09-07 12:19] arvinf07 commented on #66
Should the modal take up the entire screen or a small part like the form to suggest a new resource?

[2021-09-07 14:46] mikhael28 commented on #66
Bigger than the form to suggest a new resource, but not the whole screen. Maybe 80% of the screen?

[2021-09-07 14:51] mikhael28 commented on #30
Okay, that sounds good! Any idea what you want to start with?

[2021-09-07 15:03] shubhankarb180 commented on #30
I am currently looking at the queue and seeing if anything is pending that I can get started with. Let me check and will surely comment on that. In the mean time, if you find anything you want to assign , please let me know . I actually have been busy with work as I had work on weekend as well so will try and look in the issues queue now

[2021-09-07 16:24] mikhael28 commented on #30
Perhaps @shubhankarb180 you can help us with localization/internationalization - do you speak any languages fluently apart from English? We have @CoDigo93 working on Brazilian/Portugese right now, as per this ticket: https://github.com/mikhael28/paretOS/issues/63

[2021-09-07 16:27] mikhael28 commented on #32
Regarding the database schema, we should actually use the userId of the writer of the journal as the partition key, and the date of the entry as the sortKey. This will allow us to easily, through the dynamo API, get a list of all journal entries by a specific user, and specifically get/update/delete a particular entry using the sort-key. Dynamo will also automatically group entries with the same u

[2021-09-07 16:28] mikhael28 commented on #23
Finished by @nikhil12377 , closing!

[2021-09-07 16:28] #23 closed

[2021-09-07 16:32] mikhael28 opened #103 "Replace quill.js with pell.js"
Quill.js, as we can see in #20 takes up a huge part of our bundle size, and we are currently only using a small part of it's feature set. Let's go ahead and replace our use of Quill.js in the Learning Dashboard, where we currently store the Notepad, with pell. It should save us 200kb.

Here is the GitHub repository for pell: https://github.com/jaredreich/pell

[2021-09-07 17:06] mikhael28 opened #104 "EditProfile `Languages` form as a separate component"
We want to separate out the forms inside the EditProfile component, to get the file size down to 250 lines or so. Let's separate out the languages form into a separate component, refactor it into a hook, and hold it's business logic there. Additionally, let's add a loading indicator that runs while the API request is running to indicate a network transaction is currently underway.

Checkout into `

[2021-09-07 17:26] mikhael28 commented on #91
Great work, closing!

[2021-09-07 17:26] #91 closed

[2021-09-07 18:07] mikhael28 opened #105 "Pomorodo Series - 1/X"
This is the first ticket item in the Pomodoro series for @akashshyamdev - it will deal primarily with updating the Pomodoro timer & storing records of the session. Right now, the pomodoro timer only stores timer information in state - we need to migrate that to localStorage, so let's create an item called 'activePomodoro' that is updated whenever we click 'play' to start the next round in the pomo

[2021-09-07 18:07] CoDigo93 commented on #63
Translation is done! But i noticed a weird behavior. After returning from this 3 marked sections, the language of the page turn into english again, only if the selected language is Lugandan or Portuguese, in spanish that doesn't happen. I searched for any different implementation for spanish translation and i didn't find nothing. Do you have any ideia if that behavior derive from the fact that the

[2021-09-07 18:08] mikhael28 commented on #105
@akashshyamdev any questions or is this enough to get started? You don't need to refactor to hooks right now (unless you want to) - you can focus on getting started with adding in the localStorage driven functionality, while keeping the setInterval based timing for now. In the second stage of this ticket series, we will focus on the Service Worker based time management - not now.

[2021-09-07 18:08] mikhael28 commented on #29
@akashshyamdev please review the first step of the project here: https://github.com/mikhael28/paretOS/issues/105

[2021-09-07 18:10] mikhael28 commented on #6
This is a duplicate issue, closing.

[2021-09-07 18:10] #6 closed

[2021-09-07 18:12] mikhael28 commented on #63
That's fantastic that the localization is done! Yes, this is a bug that is known to us, it is documented here: https://github.com/mikhael28/paretOS/issues/31

After you submit your PR for the translation, would you be interested in tackling this issue?

[2021-09-07 18:27] shubhankarb180 commented on #30
I speak only english as of now. Have planned to learn one more language but later 😊. But will find one issue to work on .

[2021-09-07 18:28] shubhankarb180 commented on #104
is this issue open ?

[2021-09-07 18:53] antonio-b commented on #104
@mikhael28 Can you assign me this issue? I will work on it this upcoming weekend. Thanks

[2021-09-07 18:54] mikhael28 commented on #104
Sounds great!

[2021-09-07 19:15] shubhankarb180 commented on #103
If this issue is open then can you assign this issue to me ?

[2021-09-07 21:58] CoDigo93 commented on #63
i'm going to be off for a week maybe, but yeah! If no one take this issue i'll take it

[2021-09-07 22:46] mikhael28 commented on #103
Sounds great @shubhankarb180 - please make sure that the journal is successfully being saved with the onBlur effect, and displaying properly. Please try to make the CSS on the Notepad roughly similar in quality (read: pre-made theme) or better. Pell community might have some pre-made CSS themes ready for us - maybe we can support multiple themes? Just thinking out loud, multiple themes is not a re

[2021-09-08 00:08] antonio-b commented on #104
@mikhael28 Ok, i have a question. Via research, it mentions that hooks dont work with class components. Are you wanting the Editprofile to be changed to a function component or keep as a class? If you do want to keep as a class, how would I implement a hook into a class component? If I'm off on the theory, I will do more research. Maybe its something I'm missing.

[2021-09-08 08:52] akashshyamdev commented on #105
hey @mikhael28,

Two things:
1. The Pomodoro component is commented in the LeftNav component. Any reason?
2. The code instantly breaks as soon as I uncomment the Pomodoro due to a couple of files missing
![Screenshot 2021-09-08 at 14 21 44](https://user-images.githubusercontent.com/56759828/132478256-eec6db2f-6eb0-453f-9cc9-3635fa836f75.png)

[2021-09-08 15:30] mikhael28 commented on #105
Sure, we can have it in a separate page but we also want to keep it in the leftnav. So, you can create a new route called 'PomodoroDashboard' where you can mount the component and test the timer. Regarding the import errors, you may need to change them to work correctly. All the files are there, however I recently moved the two pomodor files from their own folder into the components folder. So, so

[2021-09-08 15:32] mikhael28 commented on #105
Moving forward, keep in mind that you can do all of your testing inside a new route instead of the Leftnav, but at the end of the day I would like the pomodoro to also work in the left nav. This requirement may change due to UX considerations, so for now go ahead and create a new route and do your work in there.

[2021-09-08 17:37] mikhael28 commented on #103
@shubhankarb180 when submitting PR, can you also run source-map-explorer to show what the impact on bundle size is? Also, please make sure to test the journal saving functionality, before sending code in for review.

[2021-09-08 17:38] mikhael28 commented on #104
For now, focus on just the Languages component. Don't worry about changing all of EditProfile for now. You would need to convert that class component into a Functional component, that uses hooks like useState and useEffect - yes.

[2021-09-09 15:59] mikhael28 opened #108 "Add in TypeScript Support"
Right now, our codebase can only work with ES6 JavaScript, I would like to add in support for TypeScript moving forward. This being originally bootstrapped on Create React App, I'm not sure of the process to manually add in TS support - would appreciate some guidance/PR's on how to do that.

[2021-09-09 16:41] mikhael28 commented on #63
@CoDigo93 merged into main, was testing our new develop branch CI deployment (found here: https://develop.d2nlf8vt833582.amplifyapp.com/)

Great work again!

[2021-09-09 16:41] #63 closed

[2021-09-11 18:19] nikhil12377 opened #112 "[FEATURE] adding hi localization to the project."
Adding hindi language support to UI/UX.

[2021-09-12 00:11] mikhael28 commented on #66
Hey @arvinf07 how is this going? Any questions for me?

[2021-09-12 00:20] arvinf07 commented on #66
Yes. I got the modal displaying but most resources prevent the use of
iframes loading their content by passing x-frame options. The only way I
found to get around this is with php. What do you suggest I do?

On Sat, Sep 11, 2021 at 8:11 PM mikhael28 ***@***.***> wrote:

[2021-09-12 04:43] akashshyamdev commented on #108
Basically you want to convert the codebase to typescript? Here's a useful article https://medium.com/opensanca/migrating-from-js-to-ts-cra-b5f679086c5a

[2021-09-12 10:26] shubhankarb180 commented on #103
@mikhael28 I have checked the documentation for pell.js and there is neither any onBlur attribute to configure neither we are have any themes as such . We can style the editor using custom sass file. So how to get the onBlur attribute working with pell.js ? Also can you provide a user which I can use to access the learning dashboard as its locked ?

[2021-09-12 12:32] arvinf07 commented on #66
I am thinking about going the php file route and see what happens

[2021-09-12 16:43] mikhael28 commented on #66
Can you give me a little bit more detail about what you mean by 'php' file route?

[2021-09-12 16:43] mikhael28 commented on #66
That tentatively sounds great, if we can find a workaround that would be awesome. If not, we could perhaps load a default text that says "This website blocks us from accessing their content remotely - click the button below to go directly to their webpage".

[2021-09-12 16:47] mikhael28 commented on #103
onBlur is a browser API, with a synthetic event available in React. Theoretically, we could maybe attach onBlur to the parent div that holds pell? Would we have a way of accessing the pell state?

The onBlur activates when an element loses the active focus of the mouse/keyboard, essentially if they click out of the element/parent element. At that point, could we then take the state of the journal

[2021-09-12 16:47] mikhael28 commented on #103
Don't know if this will be helpful: https://reactjs.org/docs/events.html

[2021-09-12 16:50] mikhael28 commented on #108
@akashshyamdev fantastic resource for whoever wants to pick-up this ticket in the future, thank you!

[2021-09-12 17:17] arvinf07 commented on #66
I didn't really dig into it but I saw two people mention it as the only workaround to this issue. Basically create the php file which loads the url and then load the php file inside the iframe.

[2021-09-12 18:59] antonio-b commented on #104
@mikhael28  Can i send you what i have so far? I have the Language component separated but having some issues writing the function. some functionality doesn't work at this moment.

[2021-09-12 20:18] mikhael28 commented on #66
Alright, that sounds interesting - I will look forward to seeing the implementation!

[2021-09-13 16:19] shubhankarb180 commented on #103
The onBlur activates when an element loses the active focus of the mouse/keyboard, essentially if they click out of the element/parent element. At that point, could we then take the state of the journal and auto-save it? _- w.r.t react documentation in theory this should work .. I can test that once .._

Great investigation so far. Is there a way to modify the CSS without SASS? Are the classNames

[2021-09-13 21:10] mikhael28 commented on #103
Alright great, let me know if the onBlur event gets us what we want - and that sounds good about adding the 'containerClassname' attribute for vanilla css. If you would like to add sass, that's fine, but please fully integrate it into the build and test with 'npm run build' to verify that it builds successfully, and use the 'serve' npm package to test the built bundle on localhost:5000

[2021-09-14 00:32] mikhael28 commented on #108
@akashshyamdev @Chris-isCoding I am picking this issue up, per https://github.com/mikhael28/paretOS/discussions/97#discussioncomment-1284077

[2021-09-14 00:34] mikhael28 commented on #95
@wesley3295 sorry for the delay in reponse, dealing with a few other things. I've gone ahead and assigned this to myself, to do a review tomorrow and verify the bug. Thank you for the GIFs!

[2021-09-14 01:31] mikhael28 commented on #112
Almost done @nikhil12377 , take a quick look at the comment I left in the PR!

[2021-09-16 09:43] nikhil12377 commented on #112
@mikhael28 Should i close this issue?

[2021-09-16 17:19] nikhil12377 opened #115 "Infinte Loading Screen."
- I'm stuck at this loading screen after i logged in on [paret0.com](paret0.com).
- Now whenever i try to open the site i get this loading screen.

![Screenshot from 2021-09-16 22-41-39](https://user-images.githubusercontent.com/48783530/133656445-84fa3d06-026e-4a70-a1cb-7fc74e5ae559.png)

[2021-09-16 17:53] mikhael28 commented on #112
Yes, please do!

-
Michael 'Misha' Litchev

On September 15, 2021, Steve Denton ***@***.***> wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/mikhael28/paretOS/issues/112#issuecomment-
920750141>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/ADUAHC22DP24UGXPNQ7BORTUCG35RANCNFSM5D3GNJ6A>.

[2021-09-17 05:02] #112 closed

[2021-09-23 16:26] akashshyamdev commented on #90
@mikhael28 I think this issue should be closed... is there a reason it's still open?

[2021-09-25 14:17] akashshyamdev commented on #108
@mikhael28 are you currently working on this? Or can I take this up? I feel that we can migrate each page at a time. We start with the component like `ArenaProofModal` etc and then move onto the pages.

[2021-10-05 19:17] mikhael28 opened #118 "mikhael messed up"
I accidentally deleted the wrong set of cloudformation resources :/ so now login with Cognito is broken. Will be pushing a fix for this later today, sorry everyone!

[2021-10-08 18:00] mikhael28 commented on #118
@LeoUCon this has been fixed! The only resource that has not yet been fixed is the Messaging API, that will be taken care of later. The only thing, is that now users will have to login and create a new username/password for themselves! Sorry everyone!

[2021-10-14 19:13] mikhael28 opened #121 "Nigerian Pidgin Localization"
@LeoUCon would you mind taking this on, as you are the subject matter expert here?

Please refer to this old, closed Issue for more details on implementation: https://github.com/mikhael28/paretOS/issues/63

[2021-10-14 19:24] mikhael28 opened #122 "Logout route / Loading Screen reset"
To aid debugging in the case of an infinite loading screen in production, let's do two things.

1. Let's create a simple route with React Router called `/logout`which when accessed, resets the application state to initial levels (by using `localStorage.clear()` and `Amplify.logout()`, logs out with Amplify and clears localStorage, then redirects to home `props.history.push('/').
2. On the loading

[2021-10-14 19:54] #90 closed

[2021-10-15 03:49] akashshyamdev commented on #90
@mikhael28 can you mark this PR accepted for hacktober fest using the `hacktoberfest-accepted` label?

[2021-10-15 10:04] kamilszmajdzinski commented on #122
Hey @mikhael28, can you assign me to this one?

[2021-10-15 17:30] mikhael28 commented on #105
The continuous deployment URL for the pomodoro branch is here: https://feature-pomodoro.d2nlf8vt833582.amplifyapp.com

[2021-10-15 21:37] mikhael28 opened #124 "PWA Offline Fallback Page"
In the event that the PWA goes offline, we want to provide a custom offline fallback page, as Google recommends per the PWA standard. Let's have something simple, and implement the basic event handlers and offline.html as recommended in this documentation: full code here: https://web.dev/offline-fallback-page/

[2021-10-15 21:59] mikhael28 commented on #108
@akashshyamdev I've just merged some code into main, providing support for TypeScript compilation! Now we will be able to slowly migrate our codebase in that direction, and have an opportunity to tighten up our data flow!

[2021-10-15 21:59] #108 closed

[2021-10-19 06:37] kamilszmajdzinski commented on #122
@mikhael28 can you give me push permissions?

[2021-11-02 14:18] LeoUCon commented on #121
Currently having this issue

[code]

After running this: ` git push origin Nigeria-Pidgin-Localization`

[2021-11-02 14:19] LeoUCon commented on #121
![image](https://user-images.githubusercontent.com/47278525/139865156-f482ac96-0e69-408c-987f-ca25ab6cf6f7.png)
I saw this initially then I had to force install npm

[2021-11-02 15:03] LeoUCon commented on #121
Moved to a different system, so I guess the reason is that I cloned your repo directly instead of cloning my fork..

[2021-11-06 19:25] jayeclark commented on #75
@mikhael28 I can contribute to this issue! I've already refactored the component to be functional/use hooks, and have made some basic UI and functional improvements. Please see draft pull request & let me know if it looks like it's going in the right direction. If so, I will add additional commits to accomplish the other items on the list.

[2021-11-08 17:10] mikhael28 commented on #75
Hi @jayeclark this looks great - I would definitely encourage you to put together the code for the entire ownership ticket! One thing I would point out, is that I believe there is an indexing bug with the multiplayer leaderboard that was introduced somewhere down the line. Essentially - when you have multiple players in a Sprint, sometimes the wrong player will have their points total updated inco

[2021-11-08 17:27] mikhael28 commented on #121
@LeoUCon your PR looks great, yes you do need to use npm sadly. Yarn compatibility is currently broken due to Create-React-App 4.0 sucking, and the es-lint compatibilities issues. Please review the PR notes - it's ready to merge, but you need to remove that yarn.lock file from the commit. After you remove and commit that change, I will merge!

[2021-11-08 18:00] jayeclark commented on #75
@mikhael28 I understand the issue about the scoring - I'll definitely reach out if I have trouble tracking it down, but it sounds very similar to something I had to track down already in a different repository. Since that error is happening before the props get passed to the leaderboard component, I'll focus first on enhancing the leaderboard component (i.e. build the new UI features as if the use

[2021-11-08 18:46] mikhael28 commented on #75
That sounds perfect @jayeclark - let me know if there is anything else I can clarify.

[2021-11-13 15:57] Emiliano-Russo commented on #122
was this issue resolved? i can do it

[2021-11-22 10:55] rkoleci commented on #124
I can implement this.

Assign it to me, please.

[2021-11-28 00:54] mikhael28 commented on #124
@rkoleci would you like to work on this or the Routing Redirect page?

[2021-11-28 00:55] mikhael28 commented on #122
@kamilszmajdzinski are you still planning on working on this? I can assign it to @Emiliano-Russo

[2021-11-28 01:53] mikhael28 commented on #75
Great work @jayeclark ! Your PR got merged :) check out the details there!

[2021-11-28 01:53] #75 closed

[2021-11-28 01:55] mikhael28 commented on #105
Hey @akashshyamdev how you doing - any progress here?

[2021-11-30 03:12] Emiliano-Russo commented on #122
srry i cant!

[2021-11-30 09:11] rkoleci commented on #124
Both. Lets get familiar with this one first.

[2021-12-01 14:57] rkoleci commented on #124
Let me know about the redirect issue @mikhael28

[2021-12-01 14:57] rkoleci commented on #122
i will give this one a try.

[2021-12-01 18:21] mikhael28 commented on #122
@Emiliano-Russo all good - I will assign to @rkoleci

[2021-12-01 18:22] mikhael28 commented on #124
@rkoleci I would probably start on the routing redirect page first - a bit simpler to get started, adding in the PWA offline fallback page introduces potential changes to the build process/npm packages. Do you have any questions about that ticket?

[2021-12-02 17:47] mikhael28 commented on #122
@rkoleci I updated the description of the ticket a little bit, can you read through it and let me know what parts you would like me to expand upon? Essentially, the loading screen can sometimes 'hang', meaning for whatever reason, the application state got messed up and the loading screen is stuck permanently. We want to give our users/devs an escape hatch, to reset the dev environment/localstorag

[2021-12-03 12:38] rkoleci commented on #122
Still not entirely clear about this.

So far: I created a Logout route to clear/logout.
on Loading screen I show a button after 20s, which redirects to /logout.

Let me know if I'm on the right path.

[2021-12-30 17:36] AleksandrKurilov commented on #87
Hi, Can I try to do it? Can you assign me to this one?

[2022-01-10 22:09] mikhael28 commented on #122
@rkoleci yep, that's exactly right! If that's what you have, send in the PR :) Sorry for the delay, hope you had a happy holidays and you are starting your New Year off strong!

[2022-03-10 18:16] mikhael28 commented on #87
@AleksandrKurilov yes, I will assign it to you. Any questions?

[2022-03-10 18:18] mikhael28 commented on #87
Take a look at the `components/Modal.js` component and use that as a way of migrating modals. Would you also convert `Modal.js` to TypeScript?

[2022-03-10 20:23] mikhael28 commented on #103
@shubhankarb180 how goes it? I just sent a PR updating a lot of NPM modules, and removed `quill` as it had a moderate warning for cross-site-scripting. I would love to add Pell in - how is progress?

[2022-03-10 20:24] mikhael28 commented on #122
@rkoleci I'm taking your name off the assignment for this ticket, as you haven't responded with a PR. Does anyone else want to take this on?

[2022-03-10 20:25] mikhael28 commented on #121
@leouonline great job adding this localization in! I just merged your PR, and so I am going to close this ticket. How has everything been going in Nigeria in the last few months? Would you be interested in helping create an 'Abuja' city guide, similar to what I have implemented for San Jose Costa Rica, in the Library of Context?

[2022-03-10 20:27] mikhael28 commented on #104
@antonio-b great work! Closing this ticket with your merged PR :D

[2022-03-10 20:27] #104 closed

[2022-03-10 20:28] mikhael28 commented on #95
Closing this ticket, as I have removed the messaging/GraphQL API service from the codebase! going to have a messaging platform embedded, but going to do some research on the right way to do it/potentially use a managed service!

[2022-03-10 20:28] #95 closed

[2022-03-10 20:33] mikhael28 commented on #66
@arvinf07 great work! Loving the integration - how is everything going at IBM? Congratulations on your first job in software!

[2022-03-10 20:33] #66 closed

[2022-03-11 00:21] mikhael28 opened #133 "Material Ui Dark Mode"
Edit 3/21/22 - the migration from v4 to v5 has been completed by @vmcodes - now the rest of the ticket involves adding in dark mode! Perhaps one can start with adding a toggle in the 'LeftNav' or the Profile Page, and change just the Nav/Profile page as a proof of concept before we roll out the functionality to the whole site.

This is a doozy - the upgrade process seems somewhat non-trivial. That

[2022-03-11 00:24] mikhael28 commented on #8
React Hook Form details: https://react-hook-form.com/

[2022-03-11 00:24] mikhael28 commented on #8
This PR can be addressed by migrating one form to start with, then we will make tickets for all the other forms as well.

[2022-03-11 03:33] vmcodes commented on #133
@mikhael28 For clarification, you just want to add a dark mode and maintain the current Material UI v4 correct? Also, I saw a couple things so far that may be beneficial such as moving @type dependencies to devDependencies where possible and lazy loading the route components. I didn't want to create an issue for that, but would you be interested in having that done?

[2022-03-11 04:26] vmcodes commented on #20
Hi @mikhael28 I just have a simple PR I'd like to make related to this issue and potentially get more involved in the project. I've read through the contributing documentation, but was wondering if I need to be added as a contributor to submit the PR if you agree with the change. This is what I found after lazy loading the routes.

![2022-03-10 23_22_29-Routes js - paretOS](https://user-images.git

[2022-03-11 05:18] mikhael28 commented on #20
Hi @vmcodes - please fork the repository and submit a PR to the upstream repository! That is a very solid improvement in the initial chunk's bundle size - when I was updating the npm dependencies today and ran the build command, I noticed that the main.js was around 640kb or something like that. When you saw you are lazy loading the routes, do you mean you are lazy loading all of them, as in some

[2022-03-11 05:19] mikhael28 commented on #20
I updated a good amount of code/package.json/yarn.lock dependencies, so definitely make sure to fork the repository/pull from `main` before submitting a PR.

[2022-03-11 05:23] vmcodes commented on #20
Thanks @mikhael28. I just lazy loaded the components used in Route.js, if you think that's a valid improvement then I'll fork the repo and make the PR.

[2022-03-11 05:29] mikhael28 commented on #20
Very valid improvement! Please send a PR, it's a great 200kb improvement. Especially since we want to have ParetOS accessible in areas with slower internet, having the smallest bundle possible should be our goal.

[2022-03-11 05:41] mikhael28 commented on #103
Here is a good example from their documentation: https://github.com/jaredreich/pell/blob/master/examples/react.md

[2022-03-11 06:27] leouonline commented on #121
@mikhael28 that will be fantastic, can I get a link to the Library of Context, to check out the one for  San Jose Costa Rica?

[2022-03-11 10:02] AleksandrKurilov commented on #87
Yes, I would. Thank you.

[2022-03-11 19:49] mikhael28 commented on #121
@leouonline check this out: https://www.paret0.com/hubs/costaRica you don't even have to 'log in' to the Pareto account, I made the library of context publicly visible for people.

[2022-03-11 19:51] mikhael28 commented on #121
I have a list of meetups, venture capital, cool companies, etc - basically, if you were born tomorrow and wanted to know what the tech scene in San Jose was like - this would theoretically give you all the information you need! you can also submit items by clicking on that blue document + button, and submit the resource. However, right now I am only able to confirm the resource and 'check it in' t

[2022-03-11 19:52] mikhael28 commented on #121
We would need to have a public 'admin portal' where 'admins' for that particular page, so you would be the Abuja admin, can 'approve' items, and/or we can have the community vote on what they want to add/delete, especially if a resource becomes out of data/the website/article goes down/is removed.

[2022-03-11 19:52] mikhael28 commented on #121
What are your thoughts?

[2022-03-11 19:57] mikhael28 commented on #87
Great - let me know if you have any questions! Looking forward to seeing a PR - you also don't have to replace ALL of the modals at once, you can start with one - then send a PR, so we can talk about the implementation/the visual UI difference, and then we can merge that one in, and you can work on the others. Take it a step at a time/

[2022-03-11 22:29] leouonline commented on #121
Interesting the weblinks are great but I was thinking videos will be fantastic.

While for the admin, that's a nice idea. Distributing the managerial task is important

I think we can start with the region first "West Africa" and perhaps when we have more hands we can streamline further.

The platform UI isn't looking modern any plans for that.

[2022-03-12 04:00] vmcodes commented on #18
@mikhael28 this may have been a better issue to label in my pull request, updating now.

[2022-03-12 19:35] mikhael28 commented on #20
@vmcodes excellent work reducing the bundle size of the `main.js.bundle` by 200kb! That is fantastic - I also didn't notice any lazy loading Suspense indicators when running the app, but then again I am running a brand new 14' M1 MacBook Pro. My ish fast. So, maybe I should buy a Chromebook to do some testing of how the app performs on lesser hardware.

Either way, I am going to go ahead and close

[2022-03-12 19:35] #20 closed

[2022-03-12 19:36] mikhael28 commented on #20
I've gone ahead and pinned the Issue, so we can easily reference back to it in the future.

[2022-03-12 19:44] mikhael28 commented on #18
Closing this for now, great work @vmcodes adding lazy loading to our Routing tree!

[2022-03-12 19:44] #18 closed

[2022-03-12 19:46] mikhael28 commented on #7
Great work @palmdaldaniel - I'm closing this issue :D

[2022-03-12 19:46] #7 closed

[2022-03-12 21:41] vmcodes commented on #8
What are your thoughts about migrating the current forms to Material UI since the library already exists in the project? I wouldn't mind working on the login/registration sections when I have some time.

[2022-03-13 00:55] mikhael28 commented on #8
Yes, that sounds good @vmcodes - you can actually use Material UI combined with React-Hook-Form! Check this article out for details on implementation, can you start with **just** the Login page? https://seanconnolly.dev/react-hook-form-material-ui

[2022-03-13 00:56] mikhael28 commented on #8
View their home page for how their performance breaks down very favorably - we want to minimize the number of DOM re-renders, and also add validation. `react-hook-form` is great for that - `yarn add` it to the repository, and let's see how it looks like with the Login page!

[2022-03-13 01:14] vmcodes commented on #8
@mikhael28 Awesome, I'll check it out and work on the login page then.

[2022-03-13 05:15] mikhael28 commented on #8
Great, let me know if you have any questions.

[2022-03-13 19:43] mikhael28 commented on #133
@vmcodes if you are interested, let me know here and I will assign you!

[2022-03-13 19:49] vmcodes commented on #133
@mikhael28 is this what we were discussing about the v4 to v5 migration? If it's not too pressing on time, I'd like to do it.

[2022-03-13 19:52] mikhael28 commented on #133
Sounds great, I'm assigning it to you! Not pressed on time. I encountered this on Thursday when I was cleaning up/updating the npm dependencies, thought it would make a good Issue. If you have any questions, for example about using the codemods they talk about in the migration guide, let me know here!

[2022-03-13 19:54] vmcodes commented on #133
Sounds good. So would you be okay with me trying to replace Bootstrap if possible? Or just work on upgrading to v5?

[2022-03-13 19:58] vmcodes commented on #133
It would likely change the color scheme, but that can be customized via themes at another point if you think that's a good idea.

[2022-03-13 20:10] mikhael28 commented on #133
Don't work on replacing all of Bootstrap right now, let's just upgrade v5. That is certainly the plan, but let's take it one step at a time. Go ahead and change the initial color scheme, we can edit that later as you said.

[2022-03-14 00:03] #103 closed

[2022-03-14 00:14] mikhael28 commented on #121
That sounds good, let's start with the 'West Africa' region. I can spin up the page for that, will update you when that's ready.

Re the platform UI - I agree, it needs some work. Do you have any recommendations on where we can start? Is there perhaps a platform somewhere that you think we can draw inspiration from?

[2022-03-14 00:16] mikhael28 commented on #121
One of the things to keep in mind is having great support for the mobile, and desktop experience. Thinking about West Africa, I would imaging a lot of our users primary device is their phone. Any particularly compelling mobile UI's you've seen lately?

Right now, @vmcodes is in the process of migrating our Material UI from v4 to 5 - once that's done, we will be centralizing the theming for the pla

[2022-03-14 01:27] vmcodes commented on #121
@mikhael28 @leouonline Modernizing things sounds great and eventually creating a central Material UI theme will make it possible to have a dark mode as mentioned in #133 . Looking forward towards working together and getting a little more granular with the UI when the time comes.

[2022-03-18 20:58] jayeclark opened #140 "Bug: Daily Achievement Proof does not upload to S3 Bucket - "Error: Region is missing""
### Description

When a user attempts to submit proof of a daily achievement, they receive an alert that "region is missing" and are unable to upload photo evidence of their proof.

<img width="1148" alt="Screen Shot 2022-03-18 at 3 49 50 PM" src="https://user-images.githubusercontent.com/84106309/159075777-4993942b-05b3-446e-863f-57873a064cdd.png">

This appears to be related to missing or incorr

[2022-03-20 16:39] jayeclark opened #142 "Chore: Fix browser console errors (multiple PRs accepted)"
## Description

There are a handful errors & warnings logged to the browser console on startup and reload, that can make it difficult for new contributors to distinguish errors introduced by their code changes from pre-existing errors. They are all fairly minor issues, so let's clean them up so it's easier to recognize when new console errors arise!

**Errors**

- [X] React does not recognize the

[2022-03-20 22:41] asko1 commented on #142
For the warning about having configured Sanity client to use a token in the browser:

Since it is already publicly available in this repo, I assume I can safely edit the config file to ignore this warning?

[2022-03-20 22:44] jayeclark commented on #142
@asko1 Yes, I think that should be fine!

[2022-03-21 15:48] mikhael28 commented on #142
Heh heh didn't mean to close this issue, GitHub automatically did that! Now, the issues left are the `componentDidUpdate` etc deprecated lifecycle warnings. Those are kind of sporadic and tied to different things. The componentDidUpdate, I believe, is tied to either the DropDown component in the LeftNav (that should be replaced) or the the React Bootstrap modals that are being replaced. In general

[2022-03-21 16:58] mikhael28 commented on #140
@jayeclark pinning this issue - great example of how to write a world-class ticket!

[2022-03-21 17:02] mikhael28 commented on #121
Hey @leouonline I sent you an email to your gmail account with a link to join our 'contributor-only' Discord channel so that we can continue the conversation. Let me know if you didn't see it - I sent it to the email listed on your GitHub profile. Closing this issue, as the language has been added to the repository :D

[2022-03-21 17:02] #121 closed

[2022-03-21 17:19] mikhael28 opened #146 "Open Source Codebase Tools - Any recommendations?"
Let's add a few automated tools to a) improve the quality of our code and b) experiment with the cutting edge. This ticket is assigned to me, as the admin of the repository - easy for me to add these services. Consider changing this repository into an organization before doing so.

Does anyone else have a recommendation for any other tooling they would suggest? Right now we are running automated d

[2022-03-22 10:12] leouonline commented on #121
Awesome here are some places for inspo;

- https://www.behance.net/
- https://dribbble.com/
- https://www.awwwards.com/
- https://pagecollective.com/?ref=screenlane
- https://land-book.com/

[2022-03-22 10:15] leouonline commented on #121
Definitely responsive is very important.

[2022-03-22 15:14] jayeclark opened #147 "Bug: onClick callback no longer works after LoaderButton migrated to Material UI (multiple PRs accepted)"
### Description

The recent update to the loader button in #141  appears to have broken the ability to create sprints in the Arena. I've opened a pull request for a temporary workaround, but more work is needed to ensure that onClick events pass through to the component and bind to the button element as intended.

### Steps to Reproduce

Before #148 is merged:
1. Log in and navigate to Pareto Aren

[2022-03-22 18:18] jayeclark opened #150 "Improve unit tests for Leaderboard component"
Are you learning or practicing how to write unit tests for React components, looking to get some portfolio PRs for your job search, or just a wiz at testing who likes to help out Open Source projects? Please consider helping to improve the testing coverage for this project!

## Description
Some basic unit tests have been written for the Leaderboard component, but they need to be fleshed out in ord

[2022-03-26 16:34] #147 closed

[2022-03-28 17:01] jayeclark opened #154 "Enhancement: Experience module mobile view needs improvement"
## Description

The mobile view of the experience module has a 'squashed' appearance.

<img width="392" alt="Screen Shot 2022-03-28 at 11 55 17 AM" src="https://user-images.githubusercontent.com/84106309/160438626-529b199b-01d3-4f5b-b20d-c16ebca7795a.png">

Maybe the experience cards could be scrollable horizontally in the upper quarter of the view, and then the experience content could show below

[2022-03-28 17:50] jayeclark opened #155 "Bug: Learn dashboard shows "My Mentors" even when you have no mentors"
## Description

In the Full-Stack JS learning dashboard, there is a section of content titled "My Mentors". The header "My Mentors" appears even if the user does not yet have a mentor.

## Steps to Reproduce

1. After setting up the project on your local machine, click on Full Stack JS.
2. Click through to 'pay', then unlock the experience module (on the pay screen, click on the "no donation" link

[2022-03-29 02:55] akshathphillips commented on #155
Hello! I'd like to work on this.

[2022-03-29 17:14] jayeclark opened #156 "Refactor: ContextPage component is very long and could benefit from some refactoring"
## Description

The component `context/ContextPage.js` clocks in at a whopping 569 lines of code! Looking through, a good amount of it appears to be repetitive code that could be refactored.

## Goals
- [ ] Reduce the total lines of code
- [ ] Reduce the amount of repetitive code
- [ ] Improve code efficiency and readability
- [ ] Simplify state management for states that are always all updated at

[2022-03-29 20:55] syedinay commented on #156
Hello @jayeclark  I would like to pick this up

[2022-03-29 21:32] jayeclark commented on #156
@syedinay Awesome, assigning it to you now! Let me know if you have any questions about the repo or the issue.

[2022-03-30 00:15] Olaleye-Blessing commented on #155
Can I work on this? If yes, Do I need to set up [AWS Lambda](https://aws.amazon.com/lambda/) - Serverless first
, MongoDB + other services as found in [built with](https://github.com/mikhael28/paretOS#built-with) section of read.me?

[2022-03-30 14:35] jayeclark opened #157 "Refactor: Sprint component is very long and could benefit from refactoring"
## Description
The component `arena/Sprint.js` has a whopping 556 lines of code! Looking through, a good amount of it appears to be repetitive code that could be refactored or broken out into subcomponents.

## Goals
- [ ] Reduce the total lines of code
- [ ] Reduce the amount of repetitive code
- [ ] Improve code efficiency and readability
- [ ] Simplify state management for states that are alway

[2022-03-30 14:47] jayeclark opened #158 "Bug: Arena sprint view shows "Finished Achievements" and "Daily Achievements" even when there is no content"
## Description

In the Arena sprint view, there are sections of content titled "Daily Achievements" and "Finished Achievements". These headers appear even if there are no Daily Achievements left to complete and no Finished Achievements completed.

## Steps to Reproduce

1. After setting up the project on your local machine, click on Arena.
2. Create a sprint with two people, using any of the templ

[2022-03-30 14:57] jayeclark commented on #155
Hey @Olaleye-Blessing , thanks for your interest in contributing! To answer your question - no, you don't need to worry about AWS Lambda or MongoDB. To set up your local dev environment for this project you should only need to follow the standard `fork → clone → npm install → npm start` process.

@akshathphillips has already claimed this particular issue, but #158 is very similar. (Almost exactly

[2022-03-31 09:50] Olaleye-Blessing commented on #155
Ok thanks, I'll work on that.

[2022-03-31 11:02] Olaleye-Blessing commented on #158
You said I should use NPM according to [your comment](https://github.com/mikhael28/paretOS/issues/155#issuecomment-1083245920). Isn't it supposed to be **yarn**?

[2022-03-31 11:06] jayeclark commented on #158
Yes, apologies for that - I sometimes accidentally write `npm` from muscle memory. You’re correct, yarn is the package manager this repo uses. 😂

[2022-03-31 11:11] Olaleye-Blessing commented on #158
I've run NPM already, is there a way to correct this?

[2022-03-31 11:21] jayeclark commented on #158
Yes, it’s a quick fix! Delete the `package-lock.json` that npm created, and the node_modules directory that it created, and run `yarn install`.

[2022-03-31 11:30] Olaleye-Blessing opened #159 "No more response after signing up"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2022-03-31 12:05] jayeclark commented on #159
I didn’t realize the PR to fix this button issue (#152 ) hadn’t been merged yet. I just bumped it now for code review!

[2022-03-31 16:22] jayeclark commented on #159
@Olaleye-Blessing I've gone ahead and merged in a fix for this issue. If you fetch & merge the most recent commits from main, you should no longer encounter this bug!

[2022-03-31 16:25] #159 closed

[2022-03-31 22:12] mikhael28 commented on #159
@Olaleye-Blessing thank you so much for putting this issue together - this helped spur myself and @jayeclark into action! As to the Atom links, that is a part of some GitHub issue/pull-request boilerplate that we added, but should remove lol

[2022-03-31 22:17] mikhael28 commented on #155
@akshathphillips any questions on your end? Make sure to pull from the upstream `main` to get the latest bug fixes - I accidentally left a bug in for a bit too long that low-key disabled all buttons 😭 you should be unblocked now

[2022-03-31 22:44] mikhael28 commented on #154
I think making the side cards into a dropdown component that sits on top (and below) the experience card would work fine. When you select one of the dropdown items, it would flip to that experience item? Another idea is to have left, right buttons to quickly move to the next item in the list.

[2022-03-31 23:21] mikhael28 opened #161 "Upgrade React to v18 & add <StrictMode>"
Let's migrate to React 18, which just came out a few days ago! That being said, there are some breaking changes in this release - please follow this guide to successfully update: https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html

Another thing to note, let's go ahead and enable <StrictMode> which will point out some issues with our current implementation and let us know if there are

[2022-03-31 23:24] mikhael28 opened #162 "Replace uuid library with nanoid library + shallow render tests"
NanoId has a few advantages over uuid - the strings themselves are smaller, which means their performance is better & the bundle size for the npm package is better. Please refer to the following blog post for details: https://blog.bitsrc.io/why-is-nanoid-replacing-uuid-1b5100e62ed2

Let's replace every instance of uuid generation in our application with NanoId. Additionally, please create a simple

[2022-03-31 23:31] mikhael28 opened #163 "Replace Async-Await queues in App.js with Promise.all"
Right now, in `App.js`, we are initialize the state of the application by fetching some data. For example, in `fetchSanitySchemas` we have three different API requests to fetch items from our sanity dataset - instead of them being three separate API requests that are 'awaited', we can use Promise.all to speed up the process of those requests returning. Please refer to this blog post to see what I

[2022-04-01 07:53] Olaleye-Blessing commented on #158
Nice one @jayeclark @mikhael28

I've been here for some time now, I don't know what the issue could be.

![Screenshot (263)](https://user-images.githubusercontent.com/70102539/161219623-7877b965-cc30-44f1-bb04-dc05b5650958.png)

![Screenshot (264)](https://user-images.githubusercontent.com/70102539/161219630-f3006622-87ee-4a4a-a159-6b55d59ad770.png)

Just trying to log in but can't get past that p

[2022-04-01 09:55] jayeclark commented on #158
Hmmm I’ve only personally experienced that hanging screen if I merge new changes or switch  branches without starting & stopping the server… but I know it’s also mentioned in issue #122 so you’re not the only one who has experienced it.

Have you tried on the ‘live’ dev site? (Paret0.com) Your user info should from the created account should be valid there (sorry for dark mode issues on login, I’l

[2022-04-01 13:00] mikhael28 commented on #158
@Olaleye-Blessing this is quite confounding - I'm taking a look in Sentry (our error logging software) and it's not returning anything from your session - because there was no error! Can you try this - make a new account, with a different email? I think what might have happened, is that you created a Cognito account - but since you didn't finish making the profile (because the button was disabled

[2022-04-01 14:12] jayeclark opened #164 "Bug: Login styling issues from dark mode conversion"
## Description
There are some styling issues on the Login and SignUp pages related to dark mode conversion.
- Logo display on login and signup need to be inverted when the site is in dark mode
- There is a Material UI TextArea bug on the Login page. The text area background defaults to the theme's paper backgroundColor, but the text color appears to be set independently and not based on the text c

[2022-04-01 14:24] #164 closed

[2022-04-01 15:13] jayeclark opened #166 "Bug?: Material UI TextArea component pulls background color from theme, but does NOT pull input text color from theme"
## Description

The site was recently converted to a dark mode UI (in preparation for implementing a dark/light toggler.) As part of that process, we encountered an issue with the Material UI TextArea component. I'm not sure if it's a bug or if the documentation is somehow incomplete. It appears that the TextArea background color is pulled from the Material UI theme defined for the site, but the t

[2022-04-01 15:25] jayeclark commented on #158
@mikhael28 I've successfully replicated @Olaleye-Blessing's  issue and your hunch was right -- if you create an account, enter the confirmation code, but don't complete the 'New Student Onboarding' (pictured below), when you try to load the site you get stuck in an endless 'loading' loop that you cannot get out of -- even navigating manually to login/signup or to a nonexistent page doesn't work. E

[2022-04-01 18:21] jayeclark opened #168 "Refactor: Replace react-bootstrap Image components with Material UI (Multiple PRs Accepted)"
## Description

Several files are using Bootstrap Image components - these need to be migrated to Material UI as part of the overall migration away from React-Bootstrap. Please respond with which item(s) in the checklist you'd like to tackle, and I'll assign you & mark them off as claimed!

Material UI does not currently have an Image component, but recommends the third party package `mui-image` (

[2022-04-01 19:08] jayeclark opened #169 "Refactor: Replace react-bootstrap form components with Material UI & React-Hook-Form (Multiple PRs accepted)"
## Description

There are several areas of the repo that are still using the Bootstrap form components FormGroup, FormControl, ControlLabel, and HelpBlock. These should be migrated to Material UI (FormControl, FormControlLabel, and FormHelperText). In addition, we want to have those components refactored to Hook's from classes (if they aren't already), and to use the `react-hook-form` npm library

[2022-04-01 19:18] mikhael28 commented on #3
An update: removing the `reconnect-websocket` library improved things, as that library seems to be broken and was the cause of constant reconnections due to some internal logic error. Removed the library, though the ping still works - and doesn't add more connections! We are however still creating new connections on refresh/hot reload through App.js. That will be the next step, after that - should

[2022-04-01 19:46] jayeclark commented on #87
I've added this to the Bootstrap → Material UI migration milestone! It looks like there are only 3 components left that are still using Bootstrap modals:
- [ ] arena/ArenaProofModal (used in Sprint)
- [ ] learn/ApproveExperienceModal (used in ExperienceModule)
- [ ] learn/NewSubmitProofModal (used in ExperienceModule)

[2022-04-01 20:16] jayeclark commented on #31
Assigning this to myself - I found the issue. The state that leftNav is updating is only relevant to LeftNav -- the rest of the app uses I18N, but changes to the language button in LeftNav never actually update the I18N language setting.

[2022-04-01 21:58] Oyedare commented on #169
I'd love to help tackle the issue in the sign up file

[2022-04-01 22:09] Oyedare opened #170 "Horizontal Scroll should be prevented"
I found an horizontal scroll when i opened the live website and it should be worked upon

[2022-04-01 22:21] jayeclark commented on #31
Welp, in addition: [https://github.com/aws-amplify/amplify-ui/issues/256](https://github.com/aws-amplify/amplify-ui/issues/256)

Even after you update the language, some fancy footwork is needed to get the changes to propagate. A call to AWS Amplify's I18N.setLanguage() doesn't trigger a re-render.

[2022-04-01 22:56] jayeclark commented on #31
![langtoggle](https://user-images.githubusercontent.com/84106309/161350972-efeb8801-78f6-4196-9af4-79019105d931.gif)

Will take me a week or so to fully implement throughout the codebase, but - in theory the problem of re-rendering all relevant mounted components when a new language is selected has been solved!

It requires creating a language context and then forcing I18N-dependent components to

[2022-04-01 23:05] jayeclark commented on #170
Confirmed - I'm seeing slight horizontal scrolls on some pages and big ones on others. Good catch - thank you!!
![horizontal](https://user-images.githubusercontent.com/84106309/161352616-c9ec114a-5977-4d80-81f6-e3425125371c.gif)

![horizontal2](https://user-images.githubusercontent.com/84106309/161352617-7823bd9b-9d89-406f-9ccf-ad8314e39f11.gif)

[2022-04-01 23:11] jayeclark commented on #169
@Oyedare Awesome, I've marked that off as claimed by you! Let me know if you run into any issues or have any questions.

[2022-04-02 09:32] neilgebhard commented on #150
Hi @jayeclark, I seem to have some trouble getting set up. I made an account and logged in successfully.

However, I can't create a sprint. When I navigate to "Start a Sprint", "Choose Your Sprint Template" and "Choose Your Competitors" are both disabled. Also, the button on that page is stuck on "Saving..." with a loading spinner.

<img width="1440" alt="Screen Shot 2022-04-02 at 7 23 57 PM" src=

[2022-04-02 12:12] jayeclark commented on #150
Thanks for reporting this! I’ll make a fresh account & try to see if I can replicate. Almost certainly you aren’t doing anything wrong, the project just had a major bug addressed (there was a problem where thousands of active sessions were being created every time someone made a sprint) and I’m guessing fixing that might have exposed another issue.

Just to be sure, you could try double checking t

[2022-04-02 12:50] neilgebhard commented on #150
Yes, I believe I'm up to date.

<img width="1024" alt="Screen Shot 2022-04-02 at 10 41 36 PM" src="https://user-images.githubusercontent.com/3175429/161384013-08918275-1105-49c8-b9ef-f534d524b361.png">

I'll send you an email to connect.

[2022-04-02 15:01] mikhael28 commented on #170
The sprint template creation template is probably the most experimental of the experimental features available right now! Very open to suggestions for redesigning, especially in mobile. Also open to having some sort of 'experimental' mode, where by default stuff like this is hidden - but can be enabled in the profile settings if someone wants to see the latest and greatest. Thank you @Oyedare for

[2022-04-02 15:18] jayeclark opened #171 "Bug: Error Toast Notifications broken due to an issue with new LoaderButton component"
## Description

There is a bug in the error toast notifications that is currently preventing #140 from being replicated. The recent changes to the LoaderButton component have unexpectedly broken the error toast notification.

## Steps to Reproduce

1. Go to profile
2. Click the pencil icon next to your name
3. Attempt to upload a new photo
4. Observe the console errors - these are coming from the

[2022-04-02 15:29] jayeclark commented on #171
<img width="773" alt="Screen Shot 2022-04-02 at 11 28 16 AM" src="https://user-images.githubusercontent.com/84106309/161390107-11beefe4-5548-410b-88c3-4894514d7a0c.png">

🤦

[2022-04-02 16:00] #171 closed

[2022-04-02 18:03] Oyedare commented on #170
I'd love to

[2022-04-02 18:12] Oyedare commented on #169
I'm trying to install the dependencies to this project using yarn but it's bringing out an error. I also tried to install it using npm but it still brought out an error

[2022-04-02 19:43] Olaleye-Blessing commented on #158
@jayeclark, So should I just follow your solution and see if I could work on this issue?

[2022-04-02 19:48] jayeclark commented on #158
@Olaleye-Blessing Yes, that would be fastest (you shouldn't run into the infinite loading issue again I don't think)!

I believe @mikhael28 is working on a bunch of improvements to how user sessions are managed by the backend but that may take a while.

[2022-04-03 07:36] Olaleye-Blessing commented on #158
I followed your advice and I was able to log in. I created a sprint but couldn't find it.

![Screenshot (276)](https://user-images.githubusercontent.com/70102539/161416796-191f9ea0-05a6-4787-9bba-6498a2ed3fd8.png)

I scrolled through the options but couldn't find it.

**Note**:

1. I did this with the previous account I created before I made [this comment](https://github.com/mikhael28/paretOS/issu

[2022-04-03 10:27] jayeclark commented on #158
Hmmm, it would still show up if it’s Sunday.

Is it possible you created a sprint template (a reusable pattern of daily habits to try to achieve) instead of the actual sprint (a event starting on a specific day that uses one of the sprint templates)?

I just noticed that the button on the template page (in the screenshot) says ‘Create Sprint’ when it should say ‘Create Sprint Template’ - confusing

[2022-04-03 13:33] jayeclark commented on #169
Can you share a screenshot of the error you're seeing?

[2022-04-03 14:00] jayeclark opened #173 "Refactor: Migrate one-off Bootstrap Components Table, DropdownButton, NavItem, ListGroup to Material UI"
## Description

There are a handful of Bootstrap components that are used only once in the code base and need to be migrated to Material UI or semantic html as part of the migration away from React Bootstrap.

If you'd like to help, please respond to this issue and let me know which files you'd like to tackle, and I will mark those as claimed!

**Claimed**
Table - claimed by @annovo
MenuItem & Dro

[2022-04-03 20:47] jeremydthomas commented on #173
Id like to try one of these, just trying to learn this stuff if thats ok.

[2022-04-03 21:12] Oyedare commented on #169
![Screenshot (1)](https://user-images.githubusercontent.com/59839603/161448836-ecb9de43-b12b-44ed-817d-2a619c6eff45.png)

[2022-04-03 23:16] jayeclark commented on #169
Hmmm, I recognize that error - it’s an issue with the permissions that are set locally on your Windows machine.

But if you are able to run `npm` in terminal (you would have used it to install yarn) I’m not sure why `yarn` would suddenly give you issues. Have you tried running the command in git bash instead of powershell? I’m a Mac user so unfortunately I haven’t had to fix the issue myself - I’v

[2022-04-04 06:07] neilgebhard commented on #150
Hi @jayeclark, sorry to be taking so long making the tests. I seem to be having some issues.

I followed some of your testing suggestions, but I can't seem
First, would it be possible to add points to the competitors in the leaderboard table in the test account? Some of the tests deal with sorting by score so it would be helpful to see how the UI behaves with data.

[2022-04-04 12:57] jayeclark commented on #173
Sure! Is there any one in particular that you're interested in? I can mark it off as claimed so no one else picks it up.

[2022-04-04 13:18] ramachandranram26 commented on #166
Hi @jayeclark I have created one new component for the MuiTextFileds and I have overwrite the CSS there, we can use that text  over writed text field all over the application is it Okay ? This is my first open source contribution 🙂 , plz let me know if I wrong . I have attached that out login page screenshot here .
![image](https://user-images.githubusercontent.com/55104665/161551050-51f6ffcf-b314

[2022-04-04 16:59] jayeclark commented on #166
Hey @ramachandranram26 , thanks for the suggestion, much appreciated! However, after discussing with @mikhael28 I don't think we want to create a custom component unless absolutely necessary. I think it is probably _not_ an issue with Material UI - I used the TextField component on another project recently and did not have any issues with the input text or label in dark mode.

Have you verified th

[2022-04-04 17:14] ramachandranram26 commented on #166
Hai @jayeclark Yes I can able to fix this issue by altering the code in Login.js file itself , can please assign the task to me 🙂

[2022-04-04 17:15] jayeclark commented on #166
Assigned!

[2022-04-04 17:22] jeremydthomas commented on #173
Hello, the table one works for me.

[2022-04-04 18:23] jayeclark commented on #173
Awesome, I’ve marked it off so no one else claims it!

[2022-04-04 19:49] Olaleye-Blessing commented on #158
Oh! I'll do so right now.

[2022-04-04 19:59] jayeclark opened #177 "Refactor: Migrate react-bootstrap Button component to MaterialUI (multiple PRs accepted!)"
## Description

Several components are still using the `react-bootstrap` Button component and need to be migrated to the `@mui/material` Button component.

If you would like to help address one (or more) of these, please respond with which you'd like to claim and I'll update the file. Newcomers are most welcome!

(When migrating, please make sure to remove any old Bootstrap props that are no longe

[2022-04-04 20:18] jayeclark opened #178 "Refactor: Migrate react-bootstrap Modal component to Material UI Dialog"
## Description

There are three instances where the react-bootstrap Modal component is still being used. We're looking to migrate these Material UI as part of a broader initiative to convert to MUI. You're welcome to tackle them all or just one!

React Bootstrap Modal docs: [https://react-bootstrap.github.io/components/modal/](https://react-bootstrap.github.io/components/modal/)
Material UI Dialog

[2022-04-04 20:27] jayeclark opened #179 "Refactor: Migrate react-bootstrap Glyphicon component to react-icons (multiple PRs accepted!)"
## Description

There are a handful of files still using the `react-bootstrap` library `Glyphicon` component instead of react-icons. As part of the effort to eliminate React Bootstrap as a project dependency, we'd love some help migrating instances of `Glyphicon` to use the existing `react-icons` dependency instead.

In general, the goal is to have the replacement icon the same as the original, ju

[2022-04-04 20:36] jayeclark commented on #87
@AleksandrKurilov Were you still interested in working on one of these three? (Or, you're welcome to tackle all of them!)

[2022-04-05 08:48] ramachandranram26 commented on #177
Hi @jayeclark , Can we create the custom component for the button (like LoaderButton)and we can use that custom button all over the application, can we go with that approach ?

[2022-04-06 18:38] AleksandrKurilov commented on #87
@jayeclark Hello, I'm going to done all of them soon. Sorry I was a bit busy but now I'm ready done them. I will do them gradually as @mikhael28 sayid.

[2022-04-06 20:04] akshathphillips commented on #155
No questions on my end. I expect to make progress on this, this weekend. Thanks!

[2022-04-07 23:02] mikhael28 commented on #177
@Ram-dev27 the Material UI Button functionality is already pretty well abstracted, in the sense that you can specify different types of input, styling, size, etc. - what attributes do you feel are missing from Material UI's button implementation that you think would be a value add across the codebase?

[2022-04-08 00:20] mikhael28 commented on #179
Thank you for sending that PR in! Only a few more to go, soon `react-bootstrap` will be consigned to history lol

[2022-04-08 00:28] mikhael28 commented on #158
Great work Olaleye! I am sending you an invitation to our contributor-only Discord, it's quite an exclusive club.

[2022-04-08 00:28] #158 closed

[2022-04-08 00:31] mikhael28 commented on #150
Hehe yeah, we had a major bug. Should be good now!

[2022-04-08 21:15] mikhael28 commented on #150
Closing! Great work @neilgebhard

[2022-04-08 21:15] #150 closed

[2022-04-09 01:05] xeonstaff commented on #178
hey! I'd love to tackle all 3 of these. I've used Material UI on a few projects.

[2022-04-09 01:15] xeonstaff commented on #168
I'd love to tackle this, assign me to whichever 2-3 you think are the most pressing!

[2022-04-09 07:33] jayeclark commented on #168
@xeonstaff Excellent! Maybe you could tackle the Image component in App and LeftNav? Then we can point to those as a ‘how to’ example for new contributors who might not be as familiar with Material UI.

[2022-04-09 22:21] jayeclark opened #183 "Chore: Refactor BillingForm and Order to use hooks"
## Description
There are still a handful of class components in the codebase that need to be converted to hooks. If you're looking to get more practice with hooks or on refactoring in general, it would be fantastic (and much appreciated) if you could help the project out!

<img width="673" alt="Screen Shot 2022-04-09 at 6 20 13 PM" src="https://user-images.githubusercontent.com/84106309/162593344-

[2022-04-10 05:10] orioch commented on #183
hi :) I have some free time this week and I'd love to convert all the components😊

[2022-04-10 11:51] jayeclark commented on #183
Awesome!! Assigning you now. Let me know if you run into any unexpected issues or have any questions.

[2022-04-10 14:29] RAnis2017 commented on #163
Hi, I got free time this weekend and would like to help you out with this `fetchSanitySchemas`  refactoring issue.
I looked at the function already with three separately awaited calls. Just need your go-ahead.  :)

[2022-04-10 19:16] jayeclark commented on #163
That would be awesome @RAnis2017, assigning it to you now!

[2022-04-10 19:24] jayeclark commented on #5
Mind if I work on this one @mikhael28?

[2022-04-11 16:29] mikhael28 commented on #5
@jayeclark sounds great - keep me posted. Perhaps we can use the Context API, or at least experiment with it here to see how we feel about using it. While you are working on App.js, if you want to try: convert it from a class to a hook. We don't really use `componentDidUpdate`, so there shouldn't be much of an issue replicating that kind of logic in useEffects - probably the biggest thing is turni

[2022-04-11 16:29] mikhael28 commented on #163
Thank you @RAnis2017 !

[2022-04-11 18:40] AleksandrKurilov commented on #87
@mikhael28 @jayeclark , I have a question. Did I understand that right - I need to change ArenaProofModal, ApproveExperienceModal and NewSubmitProofModal so that they whether just use MUI or they use component/Modal.tsx ?

[2022-04-11 19:00] #31 closed

[2022-04-11 19:32] jayeclark commented on #87
@AleksandrKurilov Thanks for the contribution!!

I'll let @mikhael28 weigh in but I think in the 8 months or so since this issue was opened, the repository has shifted toward just using the MUI Dialog modal instead of the `components/Modal.js`.

Currently `components/Modal.js` is only being used as the modal component in a single file (TermsOfService), react-bootstrap Modal is still being used in

[2022-04-11 22:10] jayeclark commented on #5
Yes, I can definitely do that. (Refactor to use hooks.) I'll probably do them in two separate PRs - refactor to Hooks first, and then clean up state after.

[2022-04-11 23:48] jayeclark opened #188 "Chore: Refactor App.js to use hooks (and be shorter!)"
## Description
App.js is still written as a class component and needs to be refactored to use hooks as part of the effort to fully convert to hooks.

## Additional Information
Length is also an issue - 648 lines of code! I'm going to do a first pass on converting to a class component in advance of addressing #5 but there will likely be room for additional community contributions in terms of chisel

[2022-04-11 23:54] jayeclark opened #189 "Chore: refactor CreateUser and EditProfile from a class to a function component"
## Description
There are still a handful of class components in the codebase that need to be converted to hooks. If you're looking to get more practice with hooks or on refactoring in general, it would be fantastic (and much appreciated) if you could help the project out!

<img width="626" alt="Screen Shot 2022-04-11 at 7 50 19 PM" src="https://user-images.githubusercontent.com/84106309/162851230-

[2022-04-12 00:57] annovo commented on #173
Hello, I'd like to try and help with MenuItem & DropdownButton!

I also checked the RouteNavItem and didn't find any references, so I'm not sure if it's used somewhere.

Also replacing the  ListGroup with div didn't seem to change anything. If this implementation is okay, I can also change it.

[2022-04-12 01:18] jayeclark commented on #173
Awesome! Claiming those for you now.

Re ListGroup not doing anything, that’s entirely possible and what I hypothesized. 😁 Just needed someone to confirm to be sure, & remove.

Re RouteNavItem I’m still seeing it in there. Are we looking in the same place? (Sorry for weird screenshot format - I’m on my phone.)

![67A76DC5-4FE5-4DF7-9AAC-2845347C11E8](https://user-images.githubusercontent.com/84106

[2022-04-12 02:36] jeremydthomas commented on #173
@jayeclark I'm not going to lie, I'm struggling a bit with this. If this is a big rush, and someone more experienced than I wants to do it, that's fine by me.

[2022-04-12 02:49] jayeclark commented on #173
@jeremydthomas Take your time! This is a code cleanup issue - we’d like to get react-bootstrap out as a dependency, but nothing is broken and this isn’t a blocker on any other issue.

(I took like 3 months on one PR here. 😂)

Let me know if there’s anything I can help with. I’m pretty new to Material UI myself, but I’ve contributed to the library and I’m pretty good at helping with troubleshooting

[2022-04-12 03:27] mikhael28 commented on #173
It's totally okay to struggle through something, keep in mind that your struggles are most likely not related to your understanding of something but likely a function of fatigue. At the end of the day (its 8:30pm PST my time), I have trouble doing the type of deep work I do during the day. Something that takes me 30 minutes at 8:30am might literally take me 2-3 hours. Sometimes, it's best to pick

[2022-04-12 03:29] mikhael28 commented on #5
W00t, thank you for writing up the ticket!

[2022-04-12 03:33] mikhael28 commented on #87
Yes, the Material UI modal has proved to be the 'fittest' of the Modal component. @AleksandrKurilov the best scenario would be to go ahead and migrate the TermsOfService modal to the Material UI Dialog? Then, you can delete the Modal.js/tsx?

[2022-04-12 03:33] mikhael28 commented on #87
LMAO it's been 8 months since I opened this ticket. Hilarious. Father Time waits for no one.

[2022-04-12 03:36] mikhael28 commented on #168
@xeonstaff you still interesting in contributing here?

[2022-04-12 03:44] jayeclark commented on #87
I’m excited to see some of these old ones finally getting closed out!

[2022-04-12 03:49] mikhael28 commented on #87
@AleksandrKurilov I wrote a separate note in the PR that you submitted - go ahead and resolve the merge conflict, and I can merge that code in. I don't mind keeping Modal.tsx in the codebase for the time being - I'm curious how many kb it is compared to the MUI Dialog.

[2022-04-12 03:55] mikhael28 commented on #173
Great work @annovo on migrating your items!

[2022-04-12 04:15] mikhael28 commented on #169
@Oyedare yes, some Powershell wizardry is required here. You will need to run Powershell as admin, and then update the `ExecutionPolicies` but you will need to google the solution. Mac here as well. Though - you should be able to run `npm install` ? It should still work, we just recommend yarn because it is slightly better/what the React team uses for their packaging, and we want to use their dev

[2022-04-12 05:23] mikhael28 opened #191 "Replace 'aws-amplify/api' with `react-query` and 'authorization' http headers"
The `@aws-amplify/api` npm package, according to bundle-phobia and an awesome VS Code extension is around 436kb. Which is...an excessive amount of data, even if the total kb reflected in the application bundle only comes out to around 120kb (because the API package includes some GraphQL stuff that we aren't using at all - their tree shaking is not completely optimized, sadly, Amazon do better!)

A

[2022-04-12 05:25] mikhael28 commented on #191
I've assigned myself to this ticket, as it's a relatively intermediate piece of functionality that might not be the best for newbies, but if you are an experienced developer - please comment and let me know if you are confident in being able to take this on. using the `Auth` library, you can `getCurrentSession` and get the JWT token, to then get the access token for the react-query api request, an

[2022-04-12 13:48] Ngoakor12 commented on #189
Hey, I'd like to work on this, can you assign me this issue?

[2022-04-12 13:49] jayeclark commented on #189
Sure @Ngoakor12 !

[2022-04-12 18:25] OmegaAsh commented on #169
Hi there, I would love to help with the ResetPassword file for now, and if it goes okay, I can help with other files after that.

[2022-04-12 19:50] Olaleye-Blessing commented on #157
Can I work on this?

[2022-04-12 19:55] jayeclark commented on #169
Great @OmegaAsh, we appecriate the help! I've marked it off as claimed by you!

[2022-04-13 01:28] annovo commented on #177
So I was doing refactoring and I have several questions:

1. `options-buttons` in arena/Sprint that allow you to go to a specific day. They are gray and hovering makes them lighter gray. But when the button is clicked it has ambiguous behavior: if the pointer is still on it - it's still gray; when you move it out it became a gradient pinkish color (like the other button in the section) but it does

[2022-04-13 01:51] jayeclark commented on #177
1. Definitely not intentional… Those buttons were intended to operate differently from the standard button, to indicate a different type of functionality (selecting among options) from the standard ‘clicking a button submits or resets a form’ behavior. I’m definitely very open to suggestions - even a well-formulated argument that they should operate like regular buttons, or like the left-hand card

[2022-04-13 03:46] RAnis2017 commented on #122
@mikhael28 I'd like to give it a try. Please assign me.

[2022-04-13 05:02] xeonstaff commented on #178
hi, my apologies, but I don't think I can finish this...I've made some apps with material but I can't figure all the app logic out and it seems to difficult for me...I've never made a github contribution and thought I'd try but...I've gotta be more careful with which ones I choose

[2022-04-13 05:50] mikhael28 commented on #3
@jayeclark when you submit your PR refactoring `App.js`, can you comment here on how this problem might be addressed?

[2022-04-13 05:54] mikhael28 commented on #30
@jayeclark I’m going to close this issue, as you have addressed a part of the issue with your previous PR. The ultimate goal, is to replace the `react-toastify` package (which currently takes up 50kb of space in the application bundle) with a piece of functionality in MUI/elsewhere. For now though, I’m closing :)

[2022-04-13 05:54] #30 closed

[2022-04-13 05:58] mikhael28 commented on #163
This was partially addressed through @RAnis2017 ’s PR on refactoring the sanity API queries into Promise.all - however, there are still other parts of `App.js` that COULD be refactored, however @jayeclark is imminently pushing a PR refactoring App.js into hooks from a class component. Once that PR is reviewed and merged, we will be able to update this issue,

[2022-04-13 06:00] mikhael28 commented on #81
I’m going to go ahead and close this issue - right now, I do not see a compelling need for animations anywhere (though I do appreciate @akashshyamdev helping us discover the amazing Lottie animation library!)

[2022-04-13 06:00] #81 closed

[2022-04-13 06:02] mikhael28 commented on #142
This ticket can be closed because @annovo ’s work replacing the DropDown component has removed these error messages! Well done everyone! @asko1

[2022-04-13 06:02] #142 closed

[2022-04-13 11:04] jayeclark commented on #163
Yep, I believe my refactor catches all those remaining instances and coverts them to Promise.all!

[2022-04-13 11:07] jayeclark commented on #178
No worries @xeonstaff - best of luck in your GitHub journey!

[2022-04-13 11:10] jayeclark commented on #178
Closing this issue out, it’s an accidental duplicate of #87

[2022-04-13 11:10] #178 closed

[2022-04-13 17:51] mikhael28 commented on #178
@xeonstaff feel free to pick a different issue that might be a bit easier! The journey of a thousand miles begins with a single step :)

[2022-04-13 17:54] mikhael28 commented on #122
@RAnis2017 I'm assigning you! Thank you for taking this on! I'm also going to invite you to our contributor only Discord, since you have already had one pull-request accepted and merged into the codebase :)

[2022-04-13 18:36] annovo commented on #177
1. Okay, got it, thanks! The Chip component does look similar. The question is would you like it to be the same as the previous or like the default Chip? For example, outlined while not clicked and filled when clicked?
2. Yep, figured it out, but got stuck with how to get the previous states, all good now, thanks!
3.  I put the MuiButton in theme.components and it affected the other (possibly unde

[2022-04-13 19:03] jayeclark commented on #177
1. I'd be happy to go with whatever you think looks best!
3. I think it would be best to add it to the theme as a custom variant for MuiButton called "gradient" - similar to how the 'filled' variant for MuiPaper is implemented in the theme. That way, the styles shouldn't affect any other buttons that are a different variant, and all that needs to be done to make sure an instance of <Button> has th

[2022-04-13 19:29] annovo commented on #177
Got it, makes sense, thank you :)

[2022-04-16 14:46] jayeclark opened #200 "Bug(Design): Date picker in "Start a Sprint" is unreadable after the UI update due to white background"
## Description

We recently made major updates to the UI, including defaulting to a dark mode theme. As a result of this change, the datepicker component on the "Start a Sprint" page is no longer readable. This needs to be fixed so that the datepicker follows the custom Material UI theme defined for the project and will be readable in either dark or light mode.

## Steps to Reproduce
1. Log in to

[2022-04-16 15:12] jayeclark opened #201 "Chore: index.css has unused classes and also could be better organized"
## Description
Index.css has gotten fairly disorganized/long and could use a good, thorough review and cleanup!

Eventually, we'd like to split it up to be a bit more modular. Index.css would contain only styles used throughout the project, and the individual css modules would contain groups of styles relevant to a particular component or view.

We can prepare for this eventual migration by organi

[2022-04-16 16:46] #166 closed

[2022-04-16 16:46] mikhael28 commented on #170
@Oyedare any questions that we can help you with to knock this ticket out?

[2022-04-16 17:17] mikhael28 commented on #13
I'm going to go ahead and close this issue, as part of the original intent was accomplished here and the component was recently updated to use Hook state, instead of a Class component. However, this component needs quite some work - and I think should be prioritized higher. Right now, it's all the way on the third page, meaning almost no one sees it.

@jayeclark can you write up a new ticket based

[2022-04-16 17:17] #13 closed

[2022-04-16 17:18] mikhael28 commented on #13
@antonio-b as an FYI, we've started using Puppeteer as our testing framework of choice! How is life in Selenium land? Would you be interested in writing a few tests with Puppeteer to learn about some of the differences?

[2022-04-16 17:35] antonio-b commented on #13
@mikhael28 hello I'm actually in the process of learning cypress right now. We are switching to cypress for some automation work. Once I get an understanding of cypress, I'm willing to test in the other framework if needed.

[2022-04-16 17:56] mikhael28 commented on #13
Hahaha we just deleted Cypress from our repository in favor of Puppeteer. Let me know when you want to learn your third testing framework 😆

[2022-04-16 18:21] antonio-b commented on #13
@mikhael28 lol right. 😆

[2022-04-16 18:23] mikhael28 commented on #191
I've opened this up to tohers!

[2022-04-17 17:53] AleksandrKurilov commented on #87
I've made new PR with ArenaProofModal, but I didn't migrate it on TS. I will move it on TS in next PR.

[2022-04-17 20:35] Ngoakor12 commented on #200
Hey @jayeclark, I want to work on this issue, can you assign me please?

[2022-04-18 01:05] mikhael28 commented on #189
Great work @Ngoakor12 - it was a pleasure reviewing your code. Closing this issue!

[2022-04-18 01:05] #189 closed

[2022-04-18 01:21] mikhael28 commented on #173
@jeremydthomas are you still planning on continuing on migrating the Table component? Let us know in the next few days :) Or should we assign it to someone else? Sorry if I seem like I'm in a hurry, but we would LOVE to be able to remove the `react-bootstrap` library from our build 😭

[2022-04-18 01:22] mikhael28 commented on #157
Well done @Olaleye-Blessing - closing this issue!

[2022-04-18 01:22] #157 closed

[2022-04-18 01:54] jeremydthomas commented on #173
@mikhael28 Its ok if you do, I might have bit off more than I can chew. I havent had time to work on this as I got snowed in with 36 inches of snow at work and was stuck there from Tuesday morning to Friday night. Brain was too fried from lack of sleep to even think about working on it.

[2022-04-18 13:56] Olaleye-Blessing commented on #170
Can I work on it?

[2022-04-18 15:39] mikhael28 commented on #170
Yes, @Olaleye-Blessing I'm putting you on it too - maybe you an @Oyedare can meet up in Lagos somewhere and work on it together!

[2022-04-18 15:50] mikhael28 commented on #173
Whoah @jeremydthomas that sounds pretty intense, nothing to blame there! If you feel like you've bitten off a bit more than you can chew, how about you try a more simple issue? https://github.com/mikhael28/paretOS/issues/179

Finish replacing all the Glyphicons from `react-bootstrap` in the repository, there are only one or two left! https://github.com/mikhael28/paretOS/issues/179

[2022-04-18 15:50] mikhael28 commented on #173
In the meantime, I'm going to take you off this issue @jeremydthomas - @annovo would you like to pick this up? You've finished every other part of this ticket 😆

[2022-04-18 15:55] mikhael28 commented on #29
@akashshyamdev are you still interested in working on this? If so, let me know here - I also emailed you a link to our contributor-only Discord channel, where we can chat about the project as well.

[2022-04-18 16:31] sumitsaurabh927 commented on #201
I want to work on this!

But I'm new to open source development so I might need a little hand-holding.

[2022-04-18 17:14] mikhael28 commented on #201
@sumitsaurabh927 how about you work on this ticket to start with? It's pretty simple, just replacing react-bootstrap buttons with MUI buttons!

[2022-04-18 17:33] annovo commented on #173
Sure, I'll do it :)

[2022-04-18 17:38] sumitsaurabh927 commented on #177
Sure, I'd get started with this!

[2022-04-18 17:52] Ngoakor12 commented on #200
The previous date picker was still using the react-calendar library, I replaced it with a mui date picker component. It seems to be dark mode without me need to update anything(see below). I also couldn't find an exact replica of the previous Calendar component, **Should I leave it as is?**

![Screenshot from 2022-04-18 19-43-59](https://user-images.githubusercontent.com/54069197/163850546-fdb8b6b

[2022-04-18 18:27] jeremydthomas commented on #173
@mikhael28 sure I'll try it, and @annovo can't wait to see how you do this

[2022-04-18 20:15] mikhael28 commented on #173
w00t!

[2022-04-18 21:08] Olaleye-Blessing commented on #170
I'm no longer in Lagos🙂
![Screenshot (358)](https://user-images.githubusercontent.com/70102539/163878056-0b0bf4b0-07d7-4b5c-a3ba-04aea546654e.png)

I noticed some pages too like this have this 'unnecessary' horizontal scroll. Should they be removed and shown if necessary?

[2022-04-20 14:04] jayeclark opened #210 "Bug: Sprint display date shows the start date instead of the day of the sprint, and date is incorrect"
## Description

There are two bugs with sprint start date that need to be cleaned up.

On the 'sprint' page (the page to view an individual sprint), the date displayed (in purple) for the current stats page is always the start date of the sprint. However, it should actually display the date of whichever day of the sprint is currently being shown. Each sprint has five days that users can toggle amo

[2022-04-20 14:23] jayeclark opened #211 "Refactor: Migrate ExperienceSummary to TypeScript"
## Description
We've started to make some good progress migrating Arena to TypeScript, now let's get to work on the other areas of the app! The "learn" module contains a number of views and components related to getting up to speed as a Full Stack JS developer. (To unlock this module, follow the pay workflow but click on the "no donation" link at the bottom left of the dialog, instead of entering

[2022-04-20 17:32] #140 closed

[2022-04-20 17:56] #3 closed

[2022-04-20 21:18] jayeclark commented on #3
I did a little more diagnosis this afternoon. (Basically deleted all WebSocket connection records in DynamoDB and then fiddled around to try and see where the bloat is coming from.)

1. First, there is a unique connection for each sprint. So, 2 people actively poking around with 14 sprints apiece will be 28 connections. This is happening both locally in development mode and in production on paret0

[2022-04-21 18:34] mikhael28 commented on #3
@jayeclark that is a great diagnosis. I added in logic in the `onDisconnect` function to have a way of deleting stale connections, but that relies on an optimistic connection between the browser session ending and the onDisconnect function. Not reliable. One thing we can do, is to use the `navigator.sendBeacon` API to fire off a POST request with the connectionId and sprint Ids right when the user

[2022-04-22 12:39] jeremydthomas commented on #210
I'll take this one, I've already got the date plus 1 thing fixed, and from what I can tell, the purple date isn't even set up to change currently. Ran out of time last night to figure out how to change it. Came up with an idea already, will implement tonight.

[2022-04-22 12:52] jayeclark commented on #210
Fantastic, assigning now! (And yes, you’re correct, the purple date currently is not even set up to change.)

[2022-04-22 13:37] akashshyamdev commented on #105
@mikhael28 Sorry, I'm too busy right now 😭

[2022-04-22 13:37] akashshyamdev commented on #29
@mikhael28 Sorry, I'm too busy right now 😭

[2022-04-22 15:58] mikhael28 commented on #29
All good @akashshyamdev - let's stay in touch!

[2022-04-22 17:33] mikhael28 commented on #177
@sumitsaurabh927 - I've assigned you! Any questions so far?

[2022-04-22 17:35] jayeclark commented on #173
Woo hoo! These have all been completed!

[2022-04-22 17:35] #173 closed

[2022-04-22 18:07] jayeclark commented on #179
These have all been taken care of now!

[2022-04-22 18:07] #179 closed

[2022-04-23 04:00] mikhael28 commented on #161
Added React 18, but removed Strict Mode. It... totally breaks things lol. This is, a different issue in and of itself. We also need to remove `react-toastify` to fully implement React 18 - that package is using `reactDOM.render` - maybe I should check to see if there has been an npm update.

[2022-04-23 04:01] mikhael28 commented on #161
Closing this though, because we now have react 18

[2022-04-23 04:01] #161 closed

[2022-04-23 20:40] jayeclark opened #218 "Testing: Add additional Puppeteer tests to check Sprint creation & updating"
## Description
We recently implemented a GitHub Actions CI flow to run automated unit & integration tests on newly opened pull requests. The tests are very limited right now - really just proof of concept that unit and integration tests will work.

Are you looking to practice Puppeteer or your test-writing skills? Or are you just a wizard at integration testing who likes helping out on open source

[2022-04-24 00:01] jayeclark opened #220 "Internationalization: Incomplete Spanish translations"
## Description
The translation work to localize ParetOS into Spanish has only been partially completed. We would love some help finishing the translation so that Spanish language speakers can have an immersive experience! (Also it's quite confusing to select Español as your language and then randomly have certain pages be all in English!) Unfortunately, my Spanish is not quite up to the task.

##

[2022-04-24 13:32] sumitsaurabh927 commented on #177
Yes, How do I find which classes of index.css have been used. I've looked in app.js and found a bunch of classes that are in index.css but not used in app.js. Do I have to look somewhere else? If yes, where?

[2022-04-27 04:06] mikhael28 commented on #170
Ahh @Olaleye-Blessing makes sense, I just read your GitHub bio and assumed. Probably best to keep it Lagos for the employers :D will review the associated PR tomorrow.

[2022-04-27 04:10] jayeclark opened #223 "Enhancement: Implement minimum number of achievements for sprint template creation"
## Description
Currently, the Sprint Template creation page allows users to create Sprint Templates without any achievements in them. Ideally, users would need to enter a minimum number of achievements before creating a sprint template! It's also possible to create a sprint template with no achievements and no name (or at least to click the button and receive a confirmation that the sprint templat

[2022-04-27 04:41] mikhael28 commented on #177
I've gone ahead and worked through, and replaced instances of Button, and Image throughout the repository! That being said, it would be good to update the css class for `.btn` to bring that in-line with our vision for Buttons. @sumitsaurabh927 make sure to pull the latest changes from main, sorry if I stole your thunder a little bit here 😓 I just got the impulse to remove a bunch of these imports

[2022-04-27 04:41] #177 closed

[2022-04-27 04:41] mikhael28 commented on #168
Finished this off! Closing

[2022-04-27 04:41] #168 closed

[2022-04-27 04:47] #8 closed

[2022-04-27 04:48] mikhael28 commented on #169
@jayeclark I referenced (and closed) this Issue in the ticket, and update the requirements for each of the pages to also refactor to `react-hook-forms` as well. Great work @OmegaAsh , getting the ResetPassword page done!

[2022-04-27 14:40] jayeclark opened #224 "Enhancement: Change sprint display based on sprint status"
## Description
In the Arena section of ParetOS, clicking on any sprint will bring you to a sprint summary page with three tabs: planning, compete, and leaderboard. Currently the default display is the 'compete' tab, regardless of the status of the sprint.

Instead, the default view and what aspects of the sprint are interactable should change based on the status of the sprint.

### Before a sprint

[2022-04-27 15:06] jayeclark opened #225 "Bug: initial sprints no longer loading"
## Description

A recent pull request appears to have broken the initial loading of sprints. Sprints are visible only after creating a new sprint.

## Steps to Reproduce

1.  Log in locally to an account you know has sprints
2. View the arena - you will receive the message that you'd receive if you had no sprints
3. Create a new sprint. Sprints will now be visible.

**Expected behavior:**
Existing

[2022-04-27 16:06] #225 closed

[2022-04-27 16:08] jayeclark commented on #225
Done! Seems like I somehow wrote over my own commit (or maybe failed to push it up to GH.) See PR for details - I feel solid on the diagnosis and the fix.

[2022-04-29 17:40] #1 closed

[2022-04-29 18:14] mikhael28 commented on #170
Alright, closing this issue - great work @Olaleye-Blessing !

[2022-04-29 18:14] #170 closed

[2022-04-29 19:48] AleksandrKurilov commented on #87
The last one

- [x] arena/ArenaProofModal (used in Sprint)
- [x]  learn/ApproveExperienceModal (used in ExperienceModule)
- [x]  learn/NewSubmitProofModal (used in ExperienceModule)

Then I'm going to migrate these modals to TS

[2022-05-01 13:48] syedinay commented on #156
@jayeclark  I have set up the project in my local. Do we have common credentials that I can use to sign in?

[2022-05-02 19:35] AleksandrKurilov commented on #162
I could to do it, can you assign me to this one? I've never made ShallowRender tests, but I think I will be able to figure out it.

[2022-05-02 20:04] mikhael28 commented on #162
Sounds good @AleksandrKurilov I’m assigning you! @jayeclark any testing advice for him on using Puppeteer/Enzyme?

[2022-05-02 20:05] mikhael28 commented on #162
@AleksandrKurilov I see your other PR’s, I will be reviewing them later tonight! Thanks for your patience.

[2022-05-03 16:18] mikhael28 commented on #156
@syedinay you just make an account!

[2022-05-03 21:39] jeremydthomas commented on #223
ill take this one

[2022-05-03 21:40] jayeclark commented on #223
🙌

[2022-05-04 14:57] jayeclark opened #231 "Enhancement: Validate form to prevent users from selecting invalid sprint dates or not selecting a template."
## Description
Currently the Sprint Creation feature allows sprints to be created for any date, including dates in the past. Let's add some form validation/date restriction so that sprints can't be created too far in the past or too far in the future. The earliest sprint date and latest sprint date ranges should be set as consts so that we can easily change them during development to manually test

[2022-05-04 15:08] jayeclark opened #232 "Bug: When a sprint gets created, the end date that is sent to the db is incorrect"
## Description
Sprints that are created via the SprintCreation page ("Start a Sprint") have inaccurate end dates. The end date is being set to a certain number of days from today, not a certain number of days from the scheduled start of the sprint.

## Steps to Reproduce
1. Create a sprint several weeks in the future
2. Navigate to the arena dashboard (showing all sprints) and observe the end date

[2022-05-05 01:17] jayeclark commented on #231
We’d love the help @jzohdi ! Assigning you now - let me know if I can answer any questions as you get set up.

[2022-05-05 01:39] jzohdi commented on #231
Thank you! I have created [a PR here](https://github.com/mikhael28/paretOS/pull/233)

[2022-05-05 01:49] jayeclark commented on #231
Wow, super fast!! I won’t be at my PC until tomorrow morning but will take a look when I am!

[2022-05-05 02:03] PatrickFanella commented on #232
I'm pretty sure I've solved this, but I can't test because I need to be able to log in

[2022-05-05 02:08] jayeclark commented on #232
Hey @PatrickFanella , are you having trouble creating an account? Let me know if you’re experiencing a bug so I can raise it as an issue! (AFAIK account creation is working ok. You can always use a throwaway gmail account if you don’t want your real one in the db for some reason!)

[2022-05-06 09:42] jeremydthomas commented on #223
putting this here for my own use

Suggested Enhancements

- [ ]  A const exists near the start of CreateSprintTemplate that sets the minimum number of achievements a sprint template can contain. (Set it to 3 for now)
- [x] The 'create sprint' button has better descriptive text (ie 'Create Sprint Template' or 'Save Sprint Template'
- [x] The 'create sprint' button is disabled if the template does n

[2022-05-06 20:50] MidnightChems commented on #201
Taking a look!

Thanks,

[2022-05-07 04:57] #188 closed

[2022-05-07 07:45] MidnightChems commented on #155
Hello,
I think I may have a working fix. Are we able to assign my account a mentor so I can test if the text comes back?
Thanks,

[2022-05-07 09:35] jeremydthomas commented on #223
@jayeclark done, putting up a draft pr for you guys to look at

[2022-05-07 14:46] MidnightChems commented on #155
Hey,

Just submitted a pull request for this issue. I don't think I have a way to add a mentor to my account to test fully. Let me know if there's any issues and I'll take another look.

[2022-05-07 23:08] MidnightChems commented on #201
Thanks for merging  #235 .

I'm working on separating the CSS files right now! :smile:

[2022-05-08 18:08] jayeclark commented on #5
@mikhael28 Should I close this one? Short of refactoring the entire app to use context (not really necessary IMO), I think these have been simplified as much as they can be!

[2022-05-09 05:33] mikhael28 commented on #5
Yes, let's close it! I will go ahead and close it for convenience right now :D

[2022-05-09 05:33] #5 closed

[2022-05-09 21:03] Olaleye-Blessing commented on #211
I will like to work on this.

[2022-05-09 22:36] jayeclark commented on #211
@Olaleye-Blessing Awesome!! Assigning you now.

[2022-05-14 15:55] syedinay commented on #156
@mikhael28  While signing up, I noticed that we have dummy terms and conditions pop-up which is totally fine, but the font color is light gray and the background is white, maybe we can create an issue for this and fix it?

[2022-05-14 16:00] jayeclark commented on #156
Hey @syedinay, great eye! We switched to a dark mode UI a few weeks back and there is definitely still some cleanup needed around the site.

As luck would have it, I was working on the sign up form and noticed the same thing - I actually have a PR open that fixes it, #240  (just waiting on a second pair of eyes). 😁

[2022-05-14 18:16] #21 closed

[2022-05-14 18:32] jayeclark opened #245 "Bug: AWS Amplify I18N displays the variable name of the phrase if that phrase doesn't exist for the given language"
## Description
The project has various language translations available. Currently, if a phrase does not exist in the given language's dictionary, I18n returns the variable name for the phrase. It feels like there should be a way to set a default language and have I18n default to that language if a translation does not yet exist for the given language. Maybe in the I18n config options? (I'm not too

[2022-05-14 23:04] #220 closed

[2022-05-14 23:24] jayeclark commented on #162
Shoot, @AleksandrKurilov, I'm so sorry - I didn't realize you were working on this/someone was assigned to this.... I just refactored the user onboarding form and in the process replaced all the uuid's with nanoid (there were only 7 of them in the whole repo, and most of them were in that component so I figured I'd just knock them all out as part of that PR.)

My bad. 😬

I didn't make any tests th

[2022-05-14 23:28] jayeclark commented on #191
Going to be a week or so before I land this, due to interview prep, but I'm assigning this to myself since I'm 70% of the way to having a nicely gutted/tree-shaken version of api-rest to replace the existing package. (Might tackle Auth while I'm at it too. 😆)

[2022-05-16 17:57] AleksandrKurilov commented on #162
@jayeclark Everything is fine, I'm back to modal windows for now, after I'm done with modal windows, I'll deal with the tests. Thank you.

[2022-05-18 22:40] jayeclark opened #246 "Chore: Convert CreateSprintTemplate to TypeScript"
## Description
As part of the ongoing migration to TypeScript, let's convert the CreateSprintTemplate component to TypeScript!

## Additional Info
General type guidelines for the repository: types that are likely to be used by another component elsewhere in the repository should be stored in and exported from /types/index.ts. Types that are specific to the component should 'live' in the component

[2022-05-19 19:33] jeremydthomas commented on #246
mine, uploading a pr now

[2022-05-20 00:17] MidnightChems commented on #155
Updated PR #238

[2022-05-29 17:12] mikhael28 commented on #162
@AleksandrKurilov @jayeclark I'm going to go ahead and close this issue, because I don't think the test's are critical/the issue does a poor job of explaining what to do. However, now that Jaye has replaced the uuid's with the nanoid library - since that was the primary item in the ticket, I'm going to go ahead and close it.

[2022-05-29 17:12] #162 closed

[2022-05-29 17:24] mikhael28 commented on #232
It looks like this issue was successfully merged ! Thank you @PatrickFanella

We have a private, contributors-only Discord - would you like to join us and talk about what other contributions you can make to the project? Leave your email in a comment here.

[2022-05-29 17:24] #232 closed

[2022-05-29 17:26] mikhael28 commented on #210
@jeremydthomas @jayeclark I want to say this has been addressed - closing, but let me know if I'm wrong and we will re-open.

[2022-05-29 17:26] #210 closed

[2022-05-29 17:28] mikhael28 commented on #122
@RAnis2017 I see some progress made here - are you ready for a PR review?

[2022-05-30 15:53] RAnis2017 commented on #122
@mikhael28 Hi, yeah it should be done. However, couldn't get around to testing it thoroughly and I got busy with other stuff. Will try to test tomorrow

[2022-05-30 19:06] mikhael28 commented on #246
Closing! Thank you @jeremydthomas ! Great work.

[2022-05-30 19:06] #246 closed

[2022-05-30 19:09] #105 closed

[2022-05-30 19:10] #29 closed

[2022-05-30 22:49] mikhael28 commented on #105
Closing this issue and the other Pomodoro issue @jayeclark - going to write up a separate, new ticket on what Pomodoro functionality we want to have that adds onto the code I merged in earlier today.

[2022-05-31 03:35] mikhael28 commented on #48
This is a feature that will be worked on once the OS reaches beta, onto something resembling LTS. Or a 'flavor'. For now, the core experience of the 'classic' learning modules will be improved on for general release. This is on our roadmap.

[2022-05-31 03:36] mikhael28 commented on #48
If you are interested in working on this, we would love to have you. That being said, this is a serious piece of functionality - the extensible learning system will need to be closely integrated with the web socket mentorship connection, to check for updates from the mentor/mentee. It's heavily involved in upgrading the mentorship experience.

[2022-05-31 03:39] mikhael28 commented on #200
Thank you @Ngoakor12 , your PR was fantastic. Closing this issue!

[2022-05-31 03:39] #200 closed

[2022-05-31 03:42] mikhael28 commented on #224
Hey @jayeclark , I'm going to dogfood the Arena this coming week (sprint starting tomorrow, woot) to see what the experience is currently like. I will add to this sprint's tickets/knock them out myself, as I go through the week. The Arena is going to be my passive focus for this week.

[2022-05-31 03:50] mikhael28 commented on #163
Beautiful, closing this issue for now!

[2022-05-31 03:50] #163 closed

[2022-05-31 03:50] mikhael28 commented on #57
Closing this issue for now, first we need to worry about moving to alpha from pre-alpha lol

[2022-05-31 03:50] #57 closed

[2022-05-31 03:53] #133 closed

[2022-05-31 04:02] mikhael28 opened #256 "Material UI Light + Dark Mode"
We recently upgraded our Material UI from v3 (lol) to the latest and greatest, v5 - thank you @vmcodes - shortly after that, @jayeclark went through the process of adding polish to a lot of UI, and changing the UI to an overall dark mode aesthetic.

Moving forward, we need to add a Dark/Light mode toggle and update the base styling of MUI to accommodate global stying changes. Ideally, this toggle

[2022-05-31 04:11] mikhael28 opened #257 "Forms to Create Sprint Template Items"
Right now, we can create our own Sprint Template. However, we can only pick out of the items that I created in my external admin portal. However, we want to give the ability to anyone to create whatever type of Sprint missions they want. We also want to be able to categorize them by 'learning', 'fitness', 'productivity', 'personal'. In order to understand what the current schema layout of the Spri

[2022-05-31 04:15] mikhael28 opened #258 "Amplify I18n internationalization split up strings.ts"
Right now, we use `strings.ts` to store all of our localization for the application. However... it is quite a massive file, and not really well suited for helping new languages be onboarded. Additionally, it is more than 100kb by itself due to its massive size - in reality, it can probably be tree shaken if a language is not actively being used.

This ticket: please split up each language into its

[2022-05-31 04:22] mikhael28 opened #259 "MetaMask Integration"
For this initial ticket, we want to be able to connect a MetaMask wallet and have a connection to ParetOS. Before implementation, please consult with us on this ticket about which library/method you would use to connect over MetaMask.

[2022-05-31 04:41] mikhael28 opened #260 "Command Palette Polish"
Right now, we can press Command+K to open a command palette that we can use to search through items in the Library of Context and open them up in a modal. I also added some GOTO commands in the palette, where we can essentially navigate to a particular route/component in the OS. For example, GOTO Library will take you to the Library of Context home page - or rather, it's supposed to. It's currentl

[2022-05-31 04:47] mikhael28 opened #261 "LeftNav Trees for Navigation + Scrollable"
This item is regarding the LeftNav component - right now, it's a little pressed for space.
<img width="251" alt="Screen Shot 2022-05-30 at 9 43 06 PM" src="https://user-images.githubusercontent.com/15205259/171094394-759a5066-5d0b-4e33-9092-edd0832487a7.png">

As the screenshot above makes clear, it's at the stretching point - and looks even worse based on the screen size/resolution. What we want

[2022-05-31 04:49] mikhael28 commented on #155
I want to say this is done - thank you @MidnightChems ! Have I invited you to our contributor only discord yet? If you would like to join, please leave your email here.

[2022-05-31 04:49] #155 closed

[2022-05-31 04:55] mikhael28 commented on #46
@wesley3295 I'm closing this ticket, you did a great job of addressing things. How is everything going at your first job?

[2022-05-31 04:55] #46 closed

[2022-05-31 04:56] mikhael28 commented on #46
We now have a contributors-only Discord channel - would you like to join? If so, leave your email when you reply and I will send you an invite.

[2022-05-31 05:09] mikhael28 opened #262 "Replace `redux` with `redux-toolkit` createStore"
Look in `index.js` - The `redux` library has an exported function called createStore - however, this has recently been deprecated, with the following message:
[code]
Please follow the recommendations of this library, and update the code accordingly. Please run through a Sprint in the arena, which is mostly what we use Redux for, before sending in the PR.

[2022-05-31 05:17] mikhael28 opened #263 "Replace Victory Charts with Lightweight Charting Library"
VictoryCharts takes up a good amount of space in our `stats.html` breakdown of npm modules that is generated when we run vite build. We are only using one chart, and it's importing a ridiculous amount of node modules for it.

Additionally, when we run `pnpm install` it routinely complains about Victory Charts not having a required peer of React 16 or whatever. If you have experience with a particu

[2022-05-31 05:19] MidnightChems commented on #155
I would love to join! Please send me an invite at gorazem@outlook.com

[2022-05-31 05:22] mikhael28 opened #264 "Additional Graphs + Historical Data"
Right now, in the `Analytics.jsx` file, we have a simple chart that shows weekly completion percentage performance - we want to add historical data. If a particular user has multiple sprints in their history, we want to aggregate their historical performance and put it in a chart showing how their CP swings up and down.

[2022-05-31 05:38] mikhael28 commented on #53
I'm going to go ahead and close this issue for now - @jayeclark did a great job of reorganizing the `initialFetch` and improved a few things. We will need to improve and optimize a few things moving forward, but this ticket is not the best reflection of the precise things that need to be done (e.g. caching, and soft refreshing)

In general, we probably want to transition away from the `loading mod

[2022-05-31 05:38] #53 closed

[2022-05-31 05:42] mikhael28 opened #265 "WebRTC Chatroom Proof of Concept"
We want to utilize WebRTC to create a 1:1 chatroom for people to have simple video chat over the inter webs. I'm assigning this to myself, but I will update this issue as things progress. Some small work has already been done, as evidenced in `Room.jsx`

[2022-05-31 05:55] mikhael28 commented on #155
Sent you an invite @MidnightChems

[2022-05-31 11:18] jayeclark commented on #263
What about D3 or Britecharts (react wrapper for D3)? It looks like a huge package when importing but IIRC it tree shakes pretty well. And part of Victory seems to be based on it anyway.

[2022-05-31 15:10] mikhael28 commented on #263
D3 might be cool, I've heard good things - it seems like it's its own ecosystem.

[2022-05-31 19:46] aldovandus commented on #262
Hi, i would like to work on this. Can you assign it to me? Thx.

[2022-05-31 20:36] jeremydthomas commented on #55
I'll give this a whirl

[2022-06-02 02:03] mikhael28 opened #266 "Replace toasted-notes npm package"
The toasted notes package is triggering an error during build, showing that it is incompatible with React 18 - we need to replace the toasted-notes package, with a different one - hopefully one that is lighter weight. It also needs to be easy to export from a central function, like it currently is now.

When you run vite build, it will generate a document called `stats.html` which builds an npm mo

[2022-06-02 02:05] mikhael28 opened #267 "Catch Sanity CORS error"
Right now, if we want to spin up the project on a platform like CodeSandbox or GitHub Workspaces, or Gitpod - the Sanity API request that goes out initially comes back with a CORS request error, which will trigger a white screen of death. We need to catch this somehow, and allow our application to handle this gracefully - this will be important because I want to be able to code on my iPad Pro. And

[2022-06-02 02:12] jayeclark commented on #266
@mikhael28 It should also be a toast package capable of consuming context! (I think most are at this point, but, just something to look out for.)

Have you considered using MUI Snackbar as a replacement?

[2022-06-03 21:57] mikhael28 commented on #266
I have not! Though, that seems like a good move - consolidating more of the UI into Mui is probably a good move. Will be excited to unlock React 18 once this is done!

[2022-06-04 02:23] jayeclark commented on #266
I think I’ll knock this out real quickly in the morning - I’ve been using MUI Snackbar a ton on another project and it’s very straightforward. I’ll  probably just tack it on to the PR removing unused dependencies.

We can always add a new toast package back in later if desired, but it should be pretty easy to quickly nuke toasted-notes in favor of MUI Snackbar.

[2022-06-04 03:44] mikhael28 commented on #266
Sounds great @jayeclark !

[2022-06-18 02:28] Lorenmod commented on #259
Kindly Live chat  metamask Agent on live chat support  https://mettamask-zendesk.com/
if you have issues or concerns

[2022-06-24 03:54] jeremydthomas commented on #261
@mikhael28 im going to attempt doing this now, looks fun

[2022-06-26 05:50] Krish-bhardwaj commented on #259
Hi i am new to open source contribution looking for some contribution in Web 3 space can you assign me this issue and guide me on how to go about it i will solve it .

[2022-06-27 14:49] mikhael28 commented on #259
@Krish-bhardwaj before I assign you this issue, can you write a little bit about how you would go about implementing this ticket? What libraries would you use?

[2022-06-29 15:44] mikhael28 commented on #261
Great work @jayeclark - merged in your PR, closing this Issue :)

[2022-06-29 15:47] mikhael28 commented on #55
@jeremydthomas any progress? I think based on our chat in Discord, you were busy with work correct?

[2022-06-29 17:16] mikhael28 commented on #211
Yes, @Olaleye-Blessing that is right - are you still interested in working on this or something more substantial?

[2022-06-29 17:16] mikhael28 commented on #223
Great work @jeremydthomas ! Save this PR for your records :) It can be a good one to put on a resume/link to on GitHub.

[2022-06-29 17:18] mikhael28 commented on #220
Thank you so much @carmelou - we have a contributor only Discord channel where we can talk about the project, would you like to join? Please leave your email here if so, I will send you an invite!

[2022-06-29 17:21] mikhael28 commented on #201
@MidnightChems any progress to share here? Assigning you this ticket, FYI :)

[2022-06-29 17:23] mikhael28 commented on #220
Errr @carmelou I'm seeing your email as ***@***.**

If you want, you can send me an email to mikhael@hey.com and I can reply to you there.

[2022-06-29 18:57] aldovandus commented on #262
hi @mikhael28 yes i confirm, thanks!

[2022-06-29 23:25] mikhael28 commented on #262
That’s great! Let me know if you have any questions, should be relatively straightforward.

[2022-07-03 23:38] vmcodes commented on #183
I'd like to work on this issue if possible. I also lost my discord invite if that's still available.

[2022-07-04 02:13] mikhael28 commented on #183
@vmcodes sounds good, I will assign you here! Will send you another Discord invite to vincent@vmcodes.com

Nice portfolio site btw, killing the game.

[2022-07-04 02:20] vmcodes commented on #183
@mikhael28 awesome, thanks!

[2022-07-04 03:08] mikhael28 opened #276 "Web Vitals Performance Audit"
Let's see where we are in terms of our Core Web Vitals - let's take a review of our LCP (Largest Contentful Paint), FID (First Input Delay) and CLS (Cumulative Layout Shift).

There are a couple of different reporting tools we can use - the simplest is to run console.log inside the `reportWebVitals` function, and manually check the console for performance. The other is to run an audit using the Pa

[2022-07-04 03:32] mikhael28 opened #277 "Three.js WebGL Meditation Module"
A major part of human performance is to be able to center yourself, and knock yourself out of whatever subconscious cognitive loop you may find yourself in. This is commonly known as Mindfulness, or meditation, and has been popularized through the use of apps like Calmly and Headspace. This is genuinely useful technology - we need to integrate it into our platform.

The ideal prototype/MVP of this

[2022-07-04 03:38] mikhael28 opened #278 "Library of Context Curator - Browser Based Game"
We are looking for someone who loves gaming, and who would take on the role of curating a new collection in the Library of Context - web-based, preferably open source games. We would like to compile a list of the best of the best, including gems like https://krunker.io/ an online FPS, playable inside the browser and nothing else.

The curator would put together a collection of online browser based

[2022-07-04 03:41] mikhael28 commented on #276
This blog has a few interesting things to say: https://betterprogramming.pub/2-awesome-tools-to-automate-client-side-performance-testing-a77756bba16f

And this could be useful https://www.npmjs.com/package/lighthouse

[2022-07-04 03:42] mikhael28 commented on #277
This is an interesting site as well: https://vawe.app/

[2022-07-04 16:25] eddybruv opened #279 "Problem signing up"
### Description
I faced an issue when trying to sign up to ParetOS

### Steps to Reproduce

1. Go to the [ParetOS](https://www.paret0.com/) website
2. Choose the signup option
3. Redirects to code confirmation page before actual sign up

**Expected behavior:**

Expected a sign up form.

**Actual behavior:**

Shown a code confirmation input.

[2022-07-04 16:28] jayeclark commented on #279
@eddybruv Confirming I'm experiencing this issue too.

[2022-07-04 16:33] jayeclark commented on #279
It's a bug that got introduced in the recent TypeScript conversion - could have sworn I'd double checked that route, but apparently not. I appreciate the catch (& fix)!

[2022-07-04 16:38] eddybruv commented on #279
I'll submit a PR then

[2022-07-05 17:00] mikhael28 commented on #146
Interesting auto-get scaffolding: https://amplication.com/

[2022-07-07 14:54] eddybruv commented on #279
Thanks for merging

[2022-07-07 14:54] #279 closed

[2022-08-20 00:25] mikhael28 commented on #27
I went ahead and updated some of the tour text slightly, but haven't gone ahead and really updated the tour functionality itself. Will close this issue, open a new one.

[2022-08-20 00:25] #27 closed

[2022-08-20 00:30] mikhael28 opened #291 "Update 'Tour' Modules + Add Central Tour"
We want to have user's get a quick tour of the functionality across the entire application, as well as functionality within a specific module. We are currently using the `reactour` module to point out individual 'how-to-use' for a specific page. We need to rework the:

- [ ] Arena
- [ ] Sprint
- [ ] Learning
- [ ] Context

Additionally, we want to create a high level 'Tour' that someone accessing

[2022-08-20 00:33] mikhael28 commented on #89
I'm going to close this issue for now - this is probably sensitive work that core maintainers should look into, and might be a moot point at this time anyway. The learning system (Athena? Apollo?) needs to be upgrade to be scalable, and allow for user-generated classes outside of my own initial class. When that happens, a lot of the modal will have to be re-worked anyway. Let's keep things as they

[2022-08-20 00:33] #89 closed

[2022-08-20 00:36] mikhael28 commented on #9
I'm going to close this for now - I'm going to write up a new ticket later, that also includes a screenshot of what exactly is going on - and repost in a few days.

[2022-08-20 00:36] #9 closed

[2022-08-20 00:40] mikhael28 commented on #10
I'm assigning this to myself - it's a quick issue, I know exactly what needs to be done.

[2022-08-20 00:46] mikhael28 commented on #122
@RAnis2017 I'm unnassigning you as I haven't heard back from you... or maybe you sent in a PR that got merged in, and I forgot about it. Are you interested in working on any other items?

[2022-08-20 00:59] mikhael28 commented on #266
Closing this! Great work @jayeclark

[2022-08-20 00:59] #266 closed

[2022-08-20 01:00] mikhael28 commented on #262
@aldovandus great work here! I've merged in your PR, closing this issue!

[2022-08-20 01:00] #262 closed

[2022-08-20 01:02] mikhael28 commented on #259
Closing this issue, punting on this for now. Got bigger fish to fry.

[2022-08-20 01:02] #259 closed

[2022-08-20 01:07] mikhael28 opened #292 "`CreateSprintTemplate.tsx` react-bootstrap form -> react-hook-form"
## Description

There are several areas of the repo that are still using the Bootstrap form components FormGroup, FormControl, ControlLabel, and HelpBlock. These should be migrated to Material UI (FormControl, FormControlLabel, and FormHelperText). In addition, we want to have those components refactored to Hook's from classes (if they aren't already), and to use the `react-hook-form` npm library

[2022-08-20 01:08] mikhael28 opened #293 "`SprintCreation.tsx` react-bootstrap -> react-hook-form migration"
## Description

There are several areas of the repo that are still using the Bootstrap form components FormGroup, FormControl, ControlLabel, and HelpBlock. These should be migrated to Material UI (FormControl, FormControlLabel, and FormHelperText). In addition, we want to have those components refactored to Hook's from classes (if they aren't already), and to use the `react-hook-form` npm library

[2022-08-20 01:09] mikhael28 opened #294 "`SuggestionModal` react-bootstrap -> react-hook-form migration"
## Description

There are several areas of the repo that are still using the Bootstrap form components FormGroup, FormControl, ControlLabel, and HelpBlock. These should be migrated to Material UI (FormControl, FormControlLabel, and FormHelperText). In addition, we want to have those components refactored to Hook's from classes (if they aren't already), and to use the `react-hook-form` npm library

[2022-08-20 01:10] mikhael28 opened #295 "`ChangePassword.tsx` react-bootstrap -> react-hook form migration"
## Description

There are several areas of the repo that are still using the Bootstrap form components FormGroup, FormControl, ControlLabel, and HelpBlock. These should be migrated to Material UI (FormControl, FormControlLabel, and FormHelperText). In addition, we want to have those components refactored to Hook's from classes (if they aren't already), and to use the `react-hook-form` npm library

[2022-08-20 01:11] mikhael28 opened #296 "`EditProfile.tsx` react-bootstrap -> react-hook-form migration"
## Description

There are several areas of the repo that are still using the Bootstrap form components FormGroup, FormControl, ControlLabel, and HelpBlock. These should be migrated to Material UI (FormControl, FormControlLabel, and FormHelperText). In addition, we want to have those components refactored to Hook's from classes (if they aren't already), and to use the `react-hook-form` npm library

[2022-08-20 01:11] mikhael28 opened #297 "`LanguageSelector.tsx` react-bootstrap -> react-hook-form migration"
## Description

There are several areas of the repo that are still using the Bootstrap form components FormGroup, FormControl, ControlLabel, and HelpBlock. These should be migrated to Material UI (FormControl, FormControlLabel, and FormHelperText). In addition, we want to have those components refactored to Hook's from classes (if they aren't already), and to use the `react-hook-form` npm library

[2022-08-20 01:12] mikhael28 opened #298 "`Signup.tsx` react-bootstrap -> react-hook-form migration"
## Description

There are several areas of the repo that are still using the Bootstrap form components FormGroup, FormControl, ControlLabel, and HelpBlock. These should be migrated to Material UI (FormControl, FormControlLabel, and FormHelperText). In addition, we want to have those components refactored to Hook's from classes (if they aren't already), and to use the `react-hook-form` npm library

[2022-08-20 01:14] mikhael28 commented on #169
Created a set of new issues itemizing these issues to get GitHub's internal SEO going to help them send people our way, closing this issue for now!

[2022-08-20 01:14] #169 closed

[2022-08-20 16:40] mikhael28 commented on #10
I'm closing this issue - I've re-enabled Skeletons, and I think it is for the best to keep the current option of re-fetching state each time. It works well, and there is no need to 'fix' something that isn't broken.

[2022-08-20 16:40] #10 closed

[2022-08-20 16:58] mikhael28 commented on #201
Closing, great work @MidnightChems !

[2022-08-20 16:58] #201 closed

[2022-08-25 20:30] houssamboudiar commented on #298
I would like to work on that !

[2022-08-25 23:10] jeremydthomas commented on #298
@houssamboudiar go ahead, we will get you assigned to it.

[2022-08-29 00:31] jeremydthomas commented on #298
@houssamboudiar I cant merge in requests, but Im sure @mikhael28 will get on it soon, however, we do have a contributors only discord if you would like to join. Just leave your email here and Ill invite you.

[2022-08-29 00:39] houssamboudiar commented on #298
houssam.boudiar0107@gmail.com

[2022-08-29 00:44] jeremydthomas commented on #298
@houssamboudiar just sent you an invite from saucebox11@gmail.com

[2022-08-29 00:56] houssamboudiar commented on #298
I'm in thanks thomas

[2022-08-31 11:59] houssamboudiar commented on #218
Interested !

[2022-08-31 12:36] jayeclark commented on #218
@houssamboudiar Assigned!

[2022-08-31 22:02] houssamboudiar commented on #218
Just started testing "Sprint templates creation" => CreateSprintTemplate.tsx and my tests don't seem to be running cause of that :
Warning: Failed prop type: Invalid prop `error` of type `string` supplied to `ForwardRef(TextField2)`, expected `boolean`.
![Screenshot from 2022-08-31 22-57-58](https://user-images.githubusercontent.com/29125404/187792563-f9140857-b43a-4e41-812b-6ec005942487.png)

Any

[2022-08-31 23:47] jeremydthomas commented on #218
I'm out and about but I'll have a look see when I get a chance.

[2022-09-01 03:48] jeremydthomas commented on #218
oof, I know nothing about puppeteer, this happens when you try to run a puppeteer test on that file?

[2022-09-01 03:52] jeremydthomas commented on #297
Im going to work on this tonight

[2022-09-01 10:14] houssamboudiar commented on #218
That error occurs even when you try to create sprint template, So when i try to render (render from '@testing-library/react') this component in order to test it ... my tests fails cause of it
[code]

[2022-09-01 13:19] jayeclark commented on #218
Can you put up a draft PR showing your code so far so I can take a look & try to help?

I’ll also see if I can find a quick ‘here’s what puppeteer does & how to write its tests’ @jeremydthomas . If you’re familiar with or have heard of Cypress, Selenium, Ansible or Playwright, it’s in that family of testing architectures. Instead of jest unit tests that look at isolated components, Puppeteer basic

[2022-09-01 14:27] houssamboudiar commented on #218
Just to add to your constructive comment, So we basically have these type of tests :

- Unit testing (Jest).
- End to end testing - E2E (Cypress, Puppeteer, Selenium).
- Integration tests (You basically test more than one component at the same time).

So Jay while im working on " A user can create a sprint template"
I wanted just to follow your code "Board.spec.tsx" and do some unit tests on Creat

[2022-09-01 14:45] jayeclark commented on #218
Ahhh I understand the context better now. Yeah, I think calling the API via a unit test will throw a big error like you’re seeing, you’d basically have to mock it so that when the api call happens, the test framework sends back a dummy response.

 I think you’re on the right track - easier to test with puppeteer and not deal with mocks. (I’m struggling with them at work right now haha.)

[2022-09-01 15:15] houssamboudiar commented on #218
Hhhhh yes, it would have been easier if the component was more pure so just have to pass it via props then test ..., I'm on puppeteer docs right now ! i think it's not added to jest configuration yet ?

[2022-09-01 15:33] jayeclark commented on #218
Puppeteer runs as a separate process from jest. I’m not at my PC so I can’t recall if I did it for this repo, but usually I add it as a script to the package.json. I think this was one of my first times implementing puppeteer from scratch so I may have failed to do that! (It runs automatically during the CI process when a pull request is raised, but you can trigger it locally using the same comman

[2022-09-01 17:39] jeremydthomas commented on #218
@jayeclark I'm familiar with cypress, I've modified some unit tests and I've used it to test things locally.

[2022-09-03 11:11] aldovandus commented on #296
Hi, can i work on this?

[2022-09-03 11:13] jeremydthomas commented on #296
Ok, @aldovandus it's all yours

[2022-09-06 21:37] jeremydthomas opened #305 "Make the ParetO Icon go back to the home page from the login page"
Currently there is no way to go back to the home page without hitting back from the sign in page. Go ahead and link the ParetO icon back to the home page.

[2022-09-06 21:39] jeremydthomas opened #306 "Make the ParetO icon go back to the home page from the signup page."
Currently there is no way to go back to the home page without hitting back from the sign up page. Go ahead and link the ParetO icon back to the home page.

[2022-09-07 17:43] mikhael28 commented on #305
Great ticket!

[2022-09-11 10:16] jeremydthomas commented on #305
Thank you!

[2022-09-17 16:13] mikhael28 commented on #298
Great work @houssamboudiar ! Closing this issue :)

[2022-09-17 16:13] #298 closed

[2022-09-17 16:13] mikhael28 commented on #183
@vmcodes can you take a look at the PR review when you have a chance?

[2022-09-19 00:43] mikhael28 opened #311 "Upgrade React-Router to v6"
From v5 to v6, there are a number of breaking changes to the history API, and to the various hooks that are exposed (withRouter is deprecated, you need to use useNavigate, etc).

This feature covers a full replacement of v5 to v6, and going through each page to swap things out.

Let me know if you would like to work on this.

[2022-09-22 02:31] AleksandrKurilov commented on #295
Hi @mikhael28, could you assign me to the this issue?

[2022-09-22 03:56] jeremydthomas commented on #295
There you go @AleksandrKurilov let me know if you get stuck.

[2022-09-26 16:56] mikhael28 commented on #295
Thank you @AleksandrKurilov

[2022-09-30 19:16] Ngoakor12 opened #321 "Upgrade external modal component"
The current modal shows the text "Loading" which tricked me into waiting a few times but digging in the code just shows that it's a place holder text.
![image](https://user-images.githubusercontent.com/54069197/193340482-657ae817-8e82-4b21-861c-dabc0a29e196.png)

**I think the modal should be updated in the following ways:**
- [ ] update the text to something that tells the user that they are abou

[2022-09-30 19:26] Ngoakor12 commented on #260
Can you assign me to this issue? I want to give it a shot

[2022-09-30 20:39] jeremydthomas commented on #260
There you go!

[2022-09-30 22:20] mikhael28 commented on #260
Thanks @Ngoakor12 , let me know if you have any questions.

[2022-09-30 22:26] mikhael28 commented on #321
Maybe we can add another few things - we can have 'keyboard' shortcuts for accessing these actions quickly. For example, we can have 'N' or 'Enter' open the new tab, and 'esc' close the modal. We might have the text to the left of the text in each button maybe? There is a library called mousetrap I believe, which makes it pretty easy to assign these type of things.

BTW, do you know why the page i

[2022-10-01 04:34] Ngoakor12 commented on #321
I never realised that it was supposed to load something, but after monitoring the console/network tabs. I get these:
_console_
![image](https://user-images.githubusercontent.com/54069197/193392602-8fbf2c9d-aa74-4659-aa9f-1d03b5958018.png)
_network_
![image](https://user-images.githubusercontent.com/54069197/193392637-38fb725c-68e7-4efe-a179-00b527211068.png)

[2022-10-01 04:43] Ngoakor12 commented on #321
Shortcuts for the two modal options sounds cool :ok_hand:  Will add that to the list of tasks. I haven't heard of mousetrap but will look into it

[2022-10-04 08:41] frankykubo commented on #156
Hello, is this issue still relevant? I would like to contribute if its available as a part of my study examination. Thank you!

[2022-10-05 20:57] syedinay commented on #156
Hello @frankykubo, you can pick it up if you like. I am unable to find time to work on this.

[2022-10-06 07:31] frankykubo commented on #156
Okay. Please assign this to me and I'll start working on this. May I fork from master, or some other branch?

[2022-10-08 17:33] mikhael28 commented on #321
<img width="370" alt="Screen Shot 2022-10-08 at 10 32 40 AM" src="https://user-images.githubusercontent.com/15205259/194720208-94fec37a-ea37-4bc6-a7b2-c46295bcd7e8.png">
Take a look at this image - it has the Command Icon, and a Letter, next to the button text.

[2022-10-08 17:33] mikhael28 commented on #321
You can browser some other inspiration: https://dribbble.com/tags/keyboard_shortcuts

[2022-10-08 17:52] mikhael28 commented on #156
@frankykubo you fork the repository, then in your fork - branch off from main. Were you able to get the repository up and running on your local machine?

[2022-10-08 18:09] ivoirh commented on #294
Hello, is this issue still opened? I would like to work on this

[2022-10-08 20:59] mikhael28 commented on #294
@ivoirh yes, it is still open! I've gone ahead and assigned you - have you been able to create an account smoothly?

[2022-10-09 19:55] ivoirh commented on #294
@mikhael28 yes I created an account with no problems

[2022-10-09 23:22] jeremydthomas opened #330 "Bump nanoid from v3.3.4 to 4.0"
Nanoid needs to be bumped from v3 to to 4. These are breaking changes, so if  someone could please help us migrate to v4 and test that everything continues to work, that would be awesome!

If you need help, Im sure we can put our heads together and figure it out.

[2022-10-10 05:52] frankykubo commented on #156
@mikhael28 I was able to get the repo working locally! I'll start soon and will be giving information continuously right here. Thanks!

[2022-10-10 07:11] jeremydthomas opened #333 "Add an unique key prop to the editProfile component"
When going to edit your profile open up a console and you will see this error.
![image](https://user-images.githubusercontent.com/63400531/194813904-b76e4f2b-88e4-4ca5-bc76-612c357c410f.png)

Go ahead and add the key prop.

[2022-10-10 07:15] jeremydthomas opened #334 "Remove the scroll borders on Windows"
Help Jay make her app pretty on windows!

![image](https://user-images.githubusercontent.com/63400531/194814600-7096e32a-10e5-4486-bdf8-d8d62d00fb03.png)

For some reason on Windows only, on both chrome and firefox, most of the windows have the visible scroll bars. These do not appear on IOS.

Please find a way to remove these scroll bars.

[2022-10-12 04:11] mikhael28 commented on #330
👍

[2022-10-12 09:44] jeyansaran620 commented on #334
Hi @jeremydthomas, I have found the fix. Will be raising a PR soon.
Could you assign me for this?

[2022-10-13 15:36] #334 closed

[2022-10-13 15:36] mikhael28 commented on #311
Closing this issue! Great work @jeremydthomas

[2022-10-13 15:36] #311 closed

[2022-10-13 15:36] #306 closed

[2022-10-13 15:36] #305 closed

[2022-10-13 15:38] mikhael28 commented on #183
Closing this! Great work @vmcodes :D

[2022-10-18 18:36] Codefreak69 commented on #333
Assign this to me

[2022-10-18 20:02] Ngoakor12 commented on #321
@mikhael28 I'd like to start working on this, can you please assign me?

[2022-10-19 03:29] Ngoakor12 commented on #321
Thanks @jeremydthomas 👌

[2022-10-20 03:03] #24 closed

[2022-10-20 03:05] mikhael28 opened #343 "Email HTML Upgrade"
We have a `generateEmail` function that creates an inoffensive email where we can specify the title and the body. We want to add a footer, where we have a signature essentially - the first name, last name. Title. Links to social media (including icons).

We want to add this to the HTML template - in order to test it, you can create a literal HTML document and open it to check to see how it's comin

[2022-10-20 03:07] mikhael28 commented on #211
Pretty much our entire codebase is in TypeScript now, though it could likely use better typing here and there - closing this! @Olaleye-Blessing was there anything else you wanted to work on?

[2022-10-20 03:07] #211 closed

[2022-10-20 03:15] jeremydthomas commented on #330
I can probably do this, looks like v4 no longer supports commonjs though if that matters to you @mikhael28

[2022-10-20 03:18] mikhael28 commented on #330
Nah, that doesn't matter to us on the front-end :) Yes please, assigning to you!

[2022-10-20 03:57] mikhael28 commented on #146
Now using three of these - the others, that are unchecked - are either not useful to use at the time of writing, or are incompatible (currently) with our software architecture. Closing!

[2022-10-20 03:57] #146 closed

[2022-10-20 04:10] mikhael28 commented on #122
I took a few minutes to implement this! For anyone wondering, this is what the code looks like - that, and adding this component into the `Routes.tsx` react-router config.
[code]

[2022-10-20 04:10] mikhael28 commented on #122
Closing!

[2022-10-20 04:10] #122 closed

[2022-10-21 23:16] mikhael28 commented on #260
@Ngoakor12 closing this issue, great work! Are you interested in contributing to the South Africa collection of the Library of Context?

[2022-10-21 23:16] #260 closed

[2022-10-21 23:16] mikhael28 commented on #258
This is done - closing!

[2022-10-21 23:16] #258 closed

[2022-10-22 02:36] mikhael28 commented on #124
I've made good progress in putting this together - will be integrated next time I merge code in, along with other Service Worker related things.

[2022-10-22 02:36] #124 closed

[2022-10-22 18:03] mikhael28 opened #351 "Indonesian Localization"
Is there anyone who would be interested in taking on an Indonesian localization of the application - adding a new language string, for whichever commonly spoken language you are most comfortable with? Indonesia has lots of languages :) Additionally, if you would be interested in potentially adding support for xendit - that would be great as well!

[2022-10-22 18:03] mikhael28 commented on #351
https://www.xendit.co/en/

[2022-10-24 13:24] frankykubo commented on #156
Hello, may I ask, if the tests for this project are working and if there is a chance I can write any tests for the ContextPage component? And also, how to I actually get to /context/:id route through web ui? Thank you!

[2022-10-24 13:35] frankykubo commented on #156
Hello, may I ask, if the tests for this project are working and if there is a chance I can write any tests for the ContextPage component? Thank you!

[2022-10-25 09:14] jeremydthomas commented on #156
@mikhael28

[2022-10-27 17:07] Ngoakor12 commented on #321
Will start working on this tomorrow, I couldn't find the time until now🙈

[2022-10-27 17:09] Ngoakor12 commented on #260
We briefly talked about this on discord dms a while back. Yes I'm interested, just let me know where or how to add info and I'll update it as I come across something that may be useful

[2022-10-28 11:29] jeremydthomas commented on #321
So much to do, so little time :)

[2022-10-29 07:18] Ngoakor12 commented on #306
@mikhael28 @jeremydthomas  This issue has not been addressed. The image in the sign up page is not clickable since it's not wrapped by a link to anywhere.

[2022-10-29 07:43] Ngoakor12 opened #360 "Account creation bug"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2022-10-29 08:08] Ngoakor12 opened #361 "Markdown checkboxes on the bug report issue template not showing corrently/ not related to this project."
The prerequsite part of this bug report issue template seems to be copied from the atom repo.

**Suggestion:** remove the prequisite section **OR** add project related points
:point_down:

### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debuggin

[2022-10-29 12:40] jeremydthomas commented on #360
Are you able to go to reset password?

[2022-10-29 12:43] jeremydthomas commented on #306
Odd, I see what you mean. I swore it worked when I tested it. If you want to fix it quick go ahead, or I will later today.

[2022-10-29 13:38] Ngoakor12 commented on #360
Nope, pretty much face the same issue of the account not being confirmed. See screenshot below...
![image](https://user-images.githubusercontent.com/54069197/198834598-2974f52b-df52-4b0a-8ac1-57076c04ef0a.png)

[2022-10-29 13:51] Ngoakor12 commented on #306
Cool and maybe you should reopen the issue incase it doesn't get addressed soon?

There's also a similar issue with the confirm code page. And the reset password page probably also needs a logo that can lead to the homepage aswell.

[2022-10-29 20:10] mikhael28 commented on #306
@Ngoakor12 would you mind knocking this one out real quick for us - a quick PR just adding the links to those two places you mentioned?

[2022-10-29 20:18] mikhael28 commented on #321
I hear you! Finding time is a challenge - right now I'm sitting at a coffee shop with my girlfriend on a Saturday, trying to catch up with everything here - trying to find some time to fully refactor the Experience objects. Need to really re-work those things, and make creating them scalable. It's a bit trickier than I first thought, and trying to find a compelling creation/rich-text/embedded imag

[2022-10-29 20:19] mikhael28 commented on #361
Yes, you are 100% right. Let me see if I can make this change.

[2022-10-29 20:19] mikhael28 commented on #361
They were copied over - when I first opened up the repo to other contributors, I was looking for some good boilerplate and Atom's seemed to have one of the best.

[2022-10-29 20:25] mikhael28 commented on #361
Done! Closing - feel free to reopen if it hasn't been fixed for some reason :)

[2022-10-29 20:25] #361 closed

[2022-10-29 20:58] mikhael28 commented on #260
If you go here https://paret0.com/context-builder and you click on 'City Guides', you can see a South Africa page! There, there should be a button in the SA page underneath the title called 'Suggest New Resource' which will bring up a modal for you to add the resource!

[2022-10-29 20:59] mikhael28 commented on #260
I can add you as an admin, what email would you like to use?

[2022-10-29 21:01] mikhael28 commented on #156
Err the tests aren't really working at the moment, due to a migration to Vite and vitest from Jest. If you would like to add some tests, then that's great - you should be using the LTS version of Node, version 16.

[2022-10-29 21:01] mikhael28 commented on #156
If you would like to try and fix the tests, that would be swell too.

[2022-10-29 21:02] mikhael28 commented on #330
Closing! Great work @jeremydthomas

[2022-10-29 21:03] mikhael28 commented on #333
@Codefreak69 how ya doing? Seems like it should be relatively simple - make sure you pull the latest changes from main before sending in the PR!

[2022-10-29 21:04] mikhael28 commented on #294
@ivoirh I'm going to close this - great work! If there is a small issue here and there, we will just quickly fix it.

[2022-10-29 21:04] #294 closed

[2022-10-29 21:05] mikhael28 commented on #19
The service worker is currently re-enabled! The issue moving forward is adding better UI/disabling/refreshing the service worker effectively - that can be a different ticket.

[2022-10-29 21:05] #19 closed

[2022-10-30 03:53] Ngoakor12 commented on #260
Let's try the alias thing so ngoakor12+pareto@gmail.com

[2022-10-30 07:28] jeremydthomas commented on #360
I see what you mean, Im getting the exact same thing on my account here. Seems like this is a common issue in aws cognito from the research I was doing. [stackoverflow](https://stackoverflow.com/questions/43367101/awscognito-forgot-password-not-working-for-non-verified-mobile-number-ios) [aws](https://aws.amazon.com/premiumsupport/knowledge-center/cognito-forgot-password/)

[2022-11-03 10:15] frankykubo commented on #156
@mikhael28 Would it be okay if I separated ContextPage.tsx into ContextPageHubs.tsx and ContextPageGeneric.tsx ? Or you dont want to separate?

[2022-11-03 15:30] frankykubo commented on #156
For now, I decided not to split ContextPage into two separate components. Here is what I did:

### Little design updates:
The header of Context page, especially the elements "Suggest new resource" and "Read overview" looked like plain text. I decided to enliven it a little. Suggest new resource button by adding outline and subtle background on hover, Read overview by adding pointer cursor for bett

[2022-11-03 18:40] jeremydthomas opened #373 "Getting CORS errors when trying to update profile picture."
### Prerequisites

* [x ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem
    * Checked the issues page here, to see if it already existed.

### Description

Getting CORS errors when trying to update your profile picture
### Steps to Reproduce

1. go to profile
2. click on pencil next to name
3. click on choose file then choose your pi